body,
.fixed section {
    background: none;    
}

.logopanel {
    background-color: #222;   
}

.headerbar {
    background-color: #222;
}

.logopanel h1,
.menutoggle {
    color: #fff;
}

.logopanel h1 span {
    color: #7bb7eb;
}

.headerbar {
    border-left-color: rgba(255,255,255,0.08);
}

.menutoggle {
    border-right-color: rgba(255,255,255,0.08);
}

.rtl .menutoggle {
    border-left: 1px solid #333;
}

.menutoggle:hover {
    background-color: #171717;
    border-right-color: rgba(255,255,255,0.15);
    color: #fff;
}

.rtl .searchform input {
    background-position: 10px center;
}

.searchform input {
    height: auto;
    padding: 7px 10px;
    margin: 8px 0 0 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 0;
}

.rtl .searchform input {
    margin-left: 0;
    margin-right: 8px;
}

.headermenu .tp-icon {
    background: none;
    border: 0;
    color: #fff;
}

.headermenu > li {
    border-left-color: rgba(255,255,255,0.08);
}

.rtl .headermenu > li:first-child {
    border-right-color: #333;
}

.headermenu .dropdown-toggle:hover,
.headermenu .dropdown-toggle:focus,
.headermenu .dropdown-toggle:active,
.headermenu .dropdown-toggle.active,
.headermenu .open .dropdown-toggle.dropdown-toggle {
    background-color: rgba(0,0,0,0.1);
    color: #fff;
}

.headermenu .chat-icon:hover {
    background-color: rgba(0,0,0,0.1);
}

.headermenu .dropdown-toggle {
    background: none;
    color: #fff;
}

.headermenu .dropdown-menu {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.headermenu .dropdown-menu-usermenu li a:hover {
    background-color: #428bca;
}

.dropdown-menu-head .title {
    background-color: #428bca;
    color: #fff;
}

.headermenu .dropdown-menu-head ul {
    border: 1px solid #ccc;
    border-top: 0;
}

.headermenu .dropdown-menu-usermenu {
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
}

.headermenu .dropdown-menu li a {
    color: #333;
}

.headermenu .dropdown-menu:after {
    border-bottom-color: #428bca;
    top: -5px;
}

.headermenu .dropdown-menu-usermenu:after {
    border-bottom-color: #fff;
}

.headerbar .topnav > ul > li > a {
    color: #fff;
    border-right: 1px solid rgba(255,255,255,0.1);
    padding-top: 16px;
    padding-bottom: 16px;
}

.headerbar .topnav > ul > li > a:hover {
    background-color: rgba(0,0,0,0.1);
}
.headerbar .topnav > ul > li > a:hover,
.headerbar .topnav > ul > li > a:focus,
.headerbar .topnav > ul > li.open > a,
.headerbar .topnav > ul > li.active > a {
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(0,0,0,0.1);
}

.headerbar .topnav > ul > li .dropdown-menu > li > a:hover {
    background-color: #2a6fa8;
}

.headerbar .logopanel {
    border-right-color: rgba(255,255,255,0.1);
}

/*** LEFT PANEL ***/

.leftpanel:after {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    background-color: #333;
    content: '';
    display: block;
    z-index: -1;
}

.rtl .leftpanel:after {
    left: auto;
    right: 0;
}

.leftpanelinner {
    padding: 0;
}

.leftpanelinner .searchform input {
    background-color: #fff;
}

.leftpanel .sidebartitle {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    opacity: 0.2;
}

.leftpanel .userlogged {
    padding-left: 10px;
}
.leftpanel .searchform input {
    border-radius: 2px;
    height: auto;
    padding: 10px;
    width: 96%;
    margin:2%;
}
.nav-bracket {
    border-top: 0;
}

.nav-bracket > li + li {
    margin: 0;
}

.nav-bracket > li > a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 10px;
    border-bottom: 1px solid #3c3c3c;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    color: #999;
}

.nav-bracket > li > a:hover,
.nav-bracket > li > a:active,
.nav-bracket > li > a:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #272727;
    color: #fff;
}

.nav-bracket > li.active > a {
    background-color: #428bca;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-bracket > li.active > a:hover,
.nav-bracket > li.active > a:focus {
    background-color: #428bca;
    background-image: none;
}

.nav-bracket > li.nav-parent > a,
.nav-bracket > li.nav-parent.active > a {
    background-image: none;
}

.nav-bracket > li.nav-parent > a:after {
    position: absolute;
    top: 10px;
    right: 16px;
    font-family: 'FontAwesome';
    content: '\f107';
    opacity: 0.5;
}

.rtl .nav-bracket > li.nav-parent > a:after {
    right: auto;
    left: 16px;
}

.nav-bracket > li.nav-parent > a:hover,
.nav-bracket > li.nav-parent > a:active,
.nav-bracket > li.nav-parent > a:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #272727;
    background-image: none;
    color: #fff;
}

.nav-bracket > li.nav-active > a,
.nav-bracket > li.nav-active > a:focus,
.nav-bracket > li.nav-active > a:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #272727;
    color: #fff;
}

.nav-bracket .children {
    background-color: #e0e5ea;
    margin: 0;
}

.nav-bracket > li > a > .badge {
    background-color: #d9534f;
    color: #fff;
    font-weight: 400;
}

.nav-bracket > li.active > a > .badge {
    background-color: #fff;
    color: #428bca;
}

.nav-bracket .children > li > a {
    color: #666;
    border-right: 1px solid #ccc;
}

.rtl .nav-bracket .children > li > a {
    border-right: 0;
    border-left: 1px solid #ccc;
}

.nav-bracket .children > li > a:hover,
.nav-bracket .children > li > a:active,
.nav-bracket .children > li > a:focus {
    color: #333;
}

.nav-bracket .children > li.active > a {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-right: 0;
    border-left: 0;
}

.nav-bracket .children > li.active:first-child > a {
    border-top: 0;
}

.nav-bracket .children > li.active:last-child > a {
    border-bottom: 0;
}

.nav-bracket > li.nav-active.active > a,
.nav-bracket > li.nav-parent.active > a:active,
.nav-bracket > li.nav-parent.active > a:focus {
    background-image: none;
}

.nav-bracket > li.nav-active.active > a,
.nav-bracket > li.nav-active.active > a:hover,
.nav-bracket > li.nav-active.active > a:active
.nav-bracket > li.nav-active.active > a:focus,
.nav-bracket > li.nav-parent.active > a {
    background-color: #428bca;
    background-image: none;
    border-bottom-width: 0;
}

.nav-bracket .children > li > a {
    padding-right: 10px;
}


.infosummary ul {
    border-top: 1px solid #3c3c3c;
}

.infosummary ul > li {
    border-bottom: 1px solid #3c3c3c;
}

.infosummary ul > li {
    padding-left: 10px;
    padding-right: 10px;
}

.infosummary span {
    opacity: 0.3;
    font-size: 11px;
}

.infosummary .datainfo h4 {
    color: #fff;
    font-size: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.leftpanel-collapsed .leftpanelinner {
    border-top: 0;
}

.leftpanel-collapsed .nav-bracket {
    margin: 0;
    border-top: 0;
}

.leftpanel-collapsed .nav-bracket > li > a,
.leftpanel-collapsed .nav-bracket > li > a:hover {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.leftpanel-collapsed .nav-bracket > li.nav-hover.active > a,
.leftpanel-collapsed .nav-bracket > li.nav-hover.active > a > span:last-child {
    background-color: #428bca;
    color: #fff;
}

.leftpanel-collapsed .nav-bracket > li.nav-hover > a,
.leftpanel-collapsed .nav-bracket > li.nav-hover > a > span:last-child {
    background-color: #272727;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.leftpanel-collapsed .nav-bracket > li > a > span:last-child {
    left: 42px;
    min-width: 207px;
}

.rtl .leftpanel-collapsed .nav-bracket > li > a > span:last-child {
    left: auto;
    right: 42px;
}

.leftpanel-collapsed .nav-bracket > li.active > a > span:last-child {
    border-bottom-right-radius: 2px;
}

.leftpanel-collapsed .nav-bracket > li.nav-parent.nav-hover > a > span:last-child {
    border-bottom-right-radius: 0;
}

.rtl .leftpanel-collapsed .nav-bracket > li.nav-parent.nav-hover > a > span:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 2px;
}

.leftpanel-collapsed .nav-bracket li.nav-hover ul {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
    left: 50px;
    min-width: 199px;
    padding: 0;
    margin: 0;
}

.rtl .leftpanel-collapsed .nav-bracket li.nav-hover ul {
    left: auto;
    right: 50px;
}

.leftpanel-collapsed .nav-bracket li.nav-hover ul > li {
    display: block;
    margin-left: 0;
    padding-left: 0;
}

.leftpanel-collapsed .nav-bracket li.nav-hover ul > li > a {
    padding-left: 5px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.leftpanel-collapsed .nav-bracket > li.nav-parent > a:after {
    display: none;
}

.leftpanel-collapsed .leftpanel:after {
    width: 50px;
}

.leftpanel-collapsed .nav-bracket .children > li > a {
    border-right: 0;
}

.rtl .leftpanel-collapsed .nav-bracket .children > li > a {
    border-left: 1px solid #ccc;
}


/*** MAIN PANEL ***/

.leftpanel-collapsed .headerbar {
    position: relative;
    z-index: 100;
    border-left: 0;
}

.stickyheader .headerbar {
    position: fixed;
}

.mainpanel {
    background-color: #fff;
}

.pageheader {
    border-bottom: 0;
    background: none;
    padding-bottom: 0;
}

.panel {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-default {
    border: 1px solid #d7d7d7;
}

.panel {
    background: none;
}

.panel-default > .panel-heading {
    background-color: #f9f9f9;
}

.panel-primary .panel-body,
.panel-success .panel-body,
.panel-warning .panel-body,
.panel-info .panel-body,
.panel-danger .panel-body,
.panel-dark .panel-body {
    border: 1px solid #d7d7d7;
    border-top: 0;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.panel-primary .panel-footer {
    border: 1px solid #d7d7d7;
    border-top: 0;
}

.panel-heading p {
    margin-top: 5px;
}

.panel-dark .panel-heading,
.widget-profile .row > div > span,
.widget-weather .panel-body {
    background-color: #202122;
}


/* email */

.table-email {
    border: 1px solid #ddd;
}

.table-email > tbody > tr > td {
    border-top: 1px solid #ddd;
}

.panel-email .panel {
    border: 0;
    background: none;
}

.panel-email .pull-right > .btn-group:last-child {
    margin-right: 0;
}

.panel-email .panel-body {
    padding: 0;
}

.nav-email > li > a {
    padding: 7px 10px;
    border: 2px solid #fff;
}

.nav-email > li > a:hover {
    background: none;
    color: #333;
    border-color: #f7f7f7;
}

.nav-email > li.active > a,
.nav-email > li.active > a:hover,
.nav-email > li.active > a:focus {
    border: 2px solid #428bca;
    background: none;
    color: #428bca;
}

.nav-email > .active > a > .badge {
    background-color: #428bca;
    color: #fff;
}



/* blog */

.blog-item {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.blog-details {
    border: 1px solid #ddd;
    border-top: 0;
}

.panel-blog {
    border: 0;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-blog .panel-body {
    padding: 0;
}

/* directory */

.letter-list {
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-radius: 3px;
}

.people-item {
    border: 1px solid #ddd;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.people-item .media-object {
    margin-bottom: 0;
}


/* signin/signup */

.signin-info .logopanel h1,
.signup-info .logopanel h1 {
    color: #333;
}

.feat-list h4 {
    color: #428bca;
}


/*** RIGHT PANEL ***/

.rightpanel {
    background-color: #333;
}

.rightpanel .nav-tabs {
    border: 0;
    background-color: #272727;
    border-left: 1px solid #373737;
}

.rightpanel .nav-tabs > li > a {
    padding: 15px 20px;
}

.rightpanel .nav-tabs > li > a:hover {
    color: #fff;
}

.rightpanel .nav-tabs > li > a:focus {
    background: none;
}

.rightpanel .nav-tabs > li.active > a,
.rightpanel .nav-tabs > li.active > a:hover,
.rightpanel .nav-tabs > li.active > a:active,
.rightpanel .nav-tabs > li.active > a:focus {
    background-color: #333;
}

.rightpanel, .rightpanel label {
    color: #999;
}

.chatuserlist .media-body strong {
    color: #ddd;
}

.filemanager-options {
    border: 1px solid #d7d7d7;
}

.filemanager .thmb {
    border-color: #d7d7d7;
}

.fm-sidebar .tag-list li a {
    background-color: #eee;
}


/* form wizard */

.basic-wizard .nav li.active a,
.basic-wizard .nav li.active a:focus,
.basic-wizard .nav li.active a:active {
    background-color: #fff;
    border-bottom-color: #fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #fff;
    border-bottom: 0;
    position: relative;
    margin-bottom: 0;
}

/* tabs/accordion */

.nav-tabs {
    border: 1px solid #d8dbde;
}

/* signin/signup */

body.notfound, body.signin {
    background-color: #fff;
}

.signinpanel form,
.signuppanel form {
    -moz-box-shdow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fcfcfc;
}

