*.rf-fu {
	background: #FFFFFF;
	border-color: #C4C0B9;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	width: 400px;
}
*.rf-fu-hdr {
	background-color: #D4CFC7;
	background-image: url(gradientA.png6deb.png?v=4.3.7.Final&amp;db=eAFjZJBjZDBiZBBh!P!21TPG!1fOH2dgAgA6DgeR&amp;ln=org.richfaces.images);
	border-color: #D4CFC7;
	border-style: solid;
	border-width: 1px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-left: 1px;
	margin-top: 1px;
	white-space: nowrap;
}
*.rf-fu-lst {
	overflow-x: hidden;
	overflow-y: auto;
}
*.rf-fu-cntr-hdn {
	display: none;
}
*.rf-fu-btns-lft, *.rf-fu-btns-rgh, *.rf-fu-itm-lft, *.rf-fu-itm-rgh {
	display: inline-block;
	overflow: hidden;
}
*.rf-fu-btns-lft {
	width: 66%;
}
*.rf-fu-btns-rgh {
	text-align: right;
	width: 34%;
}
*.rf-fu-btn-add, *.rf-fu-btn-add-dis, *.rf-fu-btn-upl, *.rf-fu-btn-clr {
	background-position: left top;
	background-repeat: repeat-x;
	border-style: solid;
	border-width: 1px;
	cursor: default;
	display: inline-block;
	margin: 4px;
	vertical-align: top;
}
*.rf-fu-btn-add, *.rf-fu-btn-upl, *.rf-fu-btn-clr {
	background-color: #DFDCD5;
	background-image: url(fuBtnGrad.png9234.png?v=4.3.7.Final&amp;db=eAFjZGBkZBBiZBBh!P!x3UvG!!fvXGVgAgA24AeF&amp;ln=org.richfaces.images);
	border-color: #C4C0B9;
}
*.rf-fu-btn-add-dis {
	background-color: #cccccc;
	background-image: url(fuBtnDisGrad.png391e.png?v=4.3.7.Final&amp;db=eAFjZGBkZBBiZBBh!P!x40fG!2fOnGFgAgA2gQdk&amp;ln=org.richfaces.images);
	border-color: #cccccc;
}
*.rf-fu-btn-upl, *.rf-fu-btn-clr {
	display: none;
}
*.rf-fu-btn-cnt-add, *.rf-fu-btn-cnt-add-dis, *.rf-fu-btn-cnt-upl, *.rf-fu-btn-cnt-clr, *.rf-fu-itm-lbl, *.rf-fu-itm-st, *.rf-fu-itm-lnk {
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
}
*.rf-fu-btn-cnt-add, *.rf-fu-btn-cnt-upl, *.rf-fu-btn-cnt-clr, *.rf-fu-itm-lbl, *.rf-fu-itm-st {
	color: #000000;
}
*.rf-fu-btn-cnt-add, *.rf-fu-btn-cnt-add-dis, *.rf-fu-btn-cnt-upl, *.rf-fu-btn-cnt-clr {
	background-position: 2px 2px;
	background-repeat: no-repeat;
	display: inline-block;
	padding: 3px 5px 3px 21px;
}
*.rf-fu-btn-cnt-add {
	background-image: url(../javax.faces.resource/fu-add.giffb5a.gif?ln=org.richfaces);
	overflow: hidden;
	position: relative;
}
*.rf-fu-btn-cnt-add-dis {
	background-image: url(../javax.faces.resource/fu-add-dis.giffb5a.gif?ln=org.richfaces);
	color: #B1ADA7;
}
*.rf-fu-btn-cnt-upl, *.rf-fu-itm-st {
	font-weight: bold;
}
*.rf-fu-btn-cnt-upl {
	background-image: url(../javax.faces.resource/fu-upl.giffb5a.gif?ln=org.richfaces);
}
*.rf-fu-btn-cnt-clr {
	background-image: url(../javax.faces.resource/fu-clr.giffb5a.gif?ln=org.richfaces);
}
*.rf-fu-inp-cntr {
	display: block;
	height: 1px;
	position: absolute;
	right: 0;
	top: 0;
}
*.rf-fu-inp {
	filter: alpha(opacity=0);
	font-size: 10em;
	margin: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
}
*.rf-fu-itm {
	border-bottom-color: #C4C0B9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 12px;
	white-space: nowrap;
}
*.rf-fu-itm-lft, *.rf-fu-itm-rgh {
	vertical-align: middle;
}
*.rf-fu-itm-lft {
	width: 85%;
}
*.rf-fu-itm-rgh {
	width: 14%;
}
*.rf-fu-itm-lnk {
	color: #0078D0;
}
*.rf-fu-itm-st {
	display: none;
	margin-top: 5px;
}
