*.rf-pb-rmng {
	height: 13px;
	white-space: nowrap;
	width: 200px;
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C0B9;
	border-radius: 0px;
	overflow: hidden;
	color: #000000;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	font-weight: bold;
	background-color: #ffffff;
	padding: 0px;
}
*.rf-pb-prgs {
	overflow: hidden;
	border-color: #C4C0B9;
	border-radius: 0px;
	background-repeat: repeat-x;
	background-color: #E79A00;
	height: 100%;
	padding: 0px;
	background-image: url(pbAniBg.gif45d0.gif?v=4.3.7.Final&amp;db=eAH7!3wWAwAH6QKB&amp;ln=org.richfaces.images);
}
*.rf-pb-lbl {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px;
	text-align: center;
	width: 100%;
	border-radius: 0px;
}
*.rf-pb-init, *.rf-pb-fin {
	color: #000000;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
}
