*.rf-tab-hdr {
	white-space: nowrap;
	border: 1px solid #C4C0B9;
	cursor: pointer;
	background-position: top;
	background-repeat: repeat-x;
	background-color: #E3DED5;
	color: #000000;
}
*.rf-tab-hdr-act.rf-tab-hdr-btm {
	padding: 3px 5px 0px 5px;
	border-top: 0px;
	font-weight: bold;
	vertical-align: bottom;
	background-image: url(actTabBottomBg.pnge17e.png?v=4.3.7.Final&amp;db=eAFjZGBlZJBiZBBh!P!43lXG!0DAwAQAN5oHzA__&amp;ln=org.richfaces.images);
	background-position: top;
	background-repeat: repeat-x;
	background-color: #F1EEE9;
	cursor: default;
}
*.rf-tab-hdr-top {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
*.rf-tab-hdr-act.rf-tab-hdr-top {
	padding: 0px 5px 3px 5px;
	border-bottom: 0px;
	font-weight: bold;
	vertical-align: top;
	background-image: url(actTabBg.png620e.png?v=4.3.7.Final&amp;db=eAFjZGBlZJBiZBBh!A8EjP8f37vKwAQAOZ0HzA__&amp;ln=org.richfaces.images);
	background-position: top;
	background-repeat: repeat-x;
	background-color: #F1EEE9;
	cursor: default;
}
*.rf-tab-hdr-inact.rf-tab-hdr-btm {
	vertical-align: bottom;
	padding: 3px 5px 0px 5px;
	background-image: url(tabBottomBg.png620e.png?v=4.3.7.Final&amp;db=eAFjZGBlZJBiZBBh!A8EjP8f37vKwAQAOZ0HzA__&amp;ln=org.richfaces.images);
}
*.rf-tab-hdr-inact.rf-tab-hdr-top {
	vertical-align: top;
	padding: 0px 5px 3px 5px;
	background-image: url(tabBg.pnge17e.png?v=4.3.7.Final&amp;db=eAFjZGBlZJBiZBBh!P!43lXG!0DAwAQAN5oHzA__&amp;ln=org.richfaces.images);
}
*.rf-tab-hdr-dis.rf-tab-hdr-top {
	vertical-align: top;
	padding: 0px 5px 3px 5px;
	background-image: url(tabBg.pnge17e.png?v=4.3.7.Final&amp;db=eAFjZGBlZJBiZBBh!P!43lXG!0DAwAQAN5oHzA__&amp;ln=org.richfaces.images);
	color: #B1ADA7;
	cursor: default;
}
*.rf-tab-hdr-dis.rf-tab-hdr-btm {
	vertical-align: bottom;
	padding: 3px 5px 0px 5px;
	background-image: url(tabBottomBg.png620e.png?v=4.3.7.Final&amp;db=eAFjZGBlZJBiZBBh!A8EjP8f37vKwAQAOZ0HzA__&amp;ln=org.richfaces.images);
	color: #B1ADA7;
	cursor: default;
}
*.rf-tab-hdr-tabline-top {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
*.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top {
	background: url(tabLineBg.pngdff0.png?v=4.3.7.Final&amp;db=eAFjZGBlZJBiZBBh!P!x3UvG!0DAwAQAOVYH!g__&amp;ln=org.richfaces.images) repeat-x scroll center top;
	background-color: #F1EEE9;
	border-color: #C4C0B9;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 0px;
	padding-top: 2px;
	overflow: hidden;
	height: 25px;
	white-space: nowrap;
	position: relative;
}
*.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-btm {
	background: url(tabLineBottomBg.pngb916.png?v=4.3.7.Final&amp;db=eAFjZGBlZJBiZBBh!A8EjP8!vnvJwAQAOl8H!g__&amp;ln=org.richfaces.images) repeat-x scroll center top;
	background-color: #F1EEE9;
	border: #C4C0B9;
	border-width: 1px;
	border-style: solid;
	border-top-width: 0px;
	padding-bottom: 2px;
	overflow: hidden;
	height: 25px;
	white-space: nowrap;
	position: relative;
}
*.rf-tab-hdr-tabs {
	border: 0px;
	height: 100%;
}
*.rf-tab-hortab-tabspcr-wdh {
	padding-left: 1px;
}
*.rf-tab-lbl {
	white-space: nowrap;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
}
*.rf-tab-hdn {
	display: none;
}
*.rf-tab-hdr-scrl-lft {
	background: url(actTabBg.png620e.png?v=4.3.7.Final&amp;db=eAFjZGBlZJBiZBBh!A8EjP8f37vKwAQAOZ0HzA__&amp;ln=org.richfaces.images) top repeat-x #F1EEE9;
	position: absolute;
	top: 1px;
	left: 1px;
	width: 15px;
	height: 25px;
	border: 1px solid #C4C0B9;
	text-align: center;
	font-weight: bold;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	padding-top: 6px;
}
*.rf-tab-hdr-scrl-rgh {
	background: url(actTabBg.png620e.png?v=4.3.7.Final&amp;db=eAFjZGBlZJBiZBBh!A8EjP8f37vKwAQAOZ0HzA__&amp;ln=org.richfaces.images) top repeat-x #F1EEE9;
	position: absolute;
	top: 1px;
	right: 17px;
	width: 15px;
	height: 25px;
	border: 1px solid #C4C0B9;
	text-align: center;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	font-weight: bold;
	padding-top: 6px;
}
*.rf-tab-hdr-tablst {
	background: url(actTabBg.png620e.png?v=4.3.7.Final&amp;db=eAFjZGBlZJBiZBBh!A8EjP8f37vKwAQAOZ0HzA__&amp;ln=org.richfaces.images) top repeat-x #F1EEE9;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 15px;
	height: 25px;
	border: 1px solid #C4C0B9;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 14px;
	padding-top: 2px;
}
*.rf-tab-hdr-brd {
	border: 1px solid #C4C0B9;
	border-top: 0px;
	height: 2px;
	background: #E3DED5;
}
*.rf-tab-cnt {
	border: 1px solid #C4C0B9;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	padding: 10px;
	background: #FFFFFF;
}
