/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2016, 12:09:59 PM
    Author     : boniboy
*/
/** Style for Search component on the frontend */
.frontend-search-box
{
    position: relative;
    margin-right: 10px;
    margin-top: 15px;
}
