@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
body {
	font-weight: 400 !important;
	color: #333;
}

/*NEW CSS ADDED ON 27-11-15*/

.nav-right {
    position: absolute;
    right: 15px;
    top: -65px;
}
 
.footer-links > li a {
    border-right: 1px solid #999;
    float: left;
    padding: 0 10px;
}

/*NEW CSS ADDED ON 27-11-15*/




.logo-new{ display:none;}





.container {
	max-width: 1000px;
}

a {
	color: #0081c6;
}
.home-page .navbar {
	background: #f0f0f0 none repeat scroll 0 0;
	min-height: 0;
}
.home-page .login-icon.margin-top-10 {
	top: 10px;
	right: 8px;
}
.home-page .home-page-top-nav {
    background: #f0f0f0 none repeat scroll 0 0;
    z-index: 999;
}
.home-page .navbar-brand.logo-v1.scroll-top {
	padding: 0;
}
.home-page .login-icon a {
	color: #666;
	font-size: 14px;
}
.home-page .navbar-brand img {
	width: auto;
}
.home-page .nav.navbar-nav {
	width: 100%;
	min-height:41px;
}
.navbar-collapse.collapse.new-window-menu {
    border-bottom: 1px solid #ddd;
}
.home-page .new-window-menu  .nav.navbar-nav{
    margin-top: 20px;
}


.home-page .navbar-collapse {
	background: #ffffff none repeat scroll 0 0;
	padding: 15px 0;
}
.home-page .nav.navbar-nav {
	margin: 0;
}
.home-page .nav.navbar-nav li.dropdown-login, .home-page .nav.navbar-nav li.logout-btn{
	float: right;
}
.home-page .login-icon.margin-top-10 li {
	border-right: medium none!important;
}
.home-page .login-icon li.dropdown {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc!important;
	display: inline-block;
	float: none;
}
.home-page .navbar-default .navbar-nav > .active > a {
	background: none;
	color: #0081c6;
}
.home-page .navbar-default .navbar-nav > .active::after, .home-page .navbar-default .navbar-nav > li:hover::after, .home-page .navbar-default .navbar-nav > .open > a::after {
	border: 3px solid #ffae00;
	bottom: -23px;
	content: "";
	left: 0;
	position: absolute;
	width: 100%;
}

 .home-page .navbar-default .navbar-nav > li.logout-btn:hover::after {
	border: none;
	bottom: -23px;
	content: "";
	left: 0;
	position: absolute;
	width: 100%;
}


.home-page .navbar-default .navbar-nav > .open > a {
	background: none;
	color: #333
}
.home-page .nav.navbar-nav > li a {
	min-height: 23px;
}
.home-page .nav.navbar-nav li:last-child a:hover::after {
	border: none;
}
.home-page .nav.navbar-nav li > a {
    border-right: 1px solid #ddd;
    font-size: 14px;
    margin-top: 10px;
    padding: 0 12px;
    position: relative;
    text-transform: uppercase;
}

/*html[lang="fr"] .home-page .navbar-collapse .nav.navbar-nav li a, html[lang="rw"] .home-page .navbar-collapse .nav.navbar-nav li a  {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/

.user-after-login {
    display: block;
    line-height: 100%;
}

.home-page .nav.navbar-nav li.dropdown-login a {
	padding: 8px 15px;
	padding-left: 40px;
	background: #ffc600 url(../images/sign-in-icon.png) no-repeat 10px 8px;
	border: none;
	color: #000;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: 5px;
	min-width: 116px;
}
.sticky-wrapper {
	height: auto !important;
}
#stickey {
	width: 100%;
	z-index: 9999;
}
.sticky-wrapper.is-sticky .navbar-collapse.collapse {
	box-shadow: 0 0 3px 1px #333;
}
.navbar-collapse .nav.navbar-nav .open .dropdown-menu {
	left: 0;
	min-width: 180px;
	top: 55px;
	padding: 0;
	border-radius: 0;
	border: none;
	box-shadow: none;
	border-bottom: 5px solid #ffc600;
}
.navbar-collapse .nav.navbar-nav .open .dropdown-menu li {
	float: none;
}
.navbar-collapse .nav.navbar-nav .open .dropdown-menu li a {
	background: #333333 none repeat scroll 0 0;
	border-radius: 0;
	border-right: medium none;
	color: #cccccc;
	display: block;
	font-weight: 400;
	margin: 0;
	padding: 10px;
	text-align: center;
	text-transform: none;
	width: 100%;
	border-bottom: 1px solid #5e5e5e;
}
.home-content {
	background: #0072bd url(../images/home-bg.jpg) left top no-repeat;
}

.kcc-tower{
    background: #0072bd url(../images/kc_tower.jpg) repeat-x;
    
}

.home-content .search-box {
	max-width: 670px;
	margin: 0 auto;
}
.irambo-home-logo {
	margin: 30px 0 15px 0;
}
.irambo-home-logo-text {
	font-weight: bold;
	color: rgb(255, 255, 255);
	margin-top: 15px; 
	font-family:Times New Roman !important;
	font-size: 18px;
}
.home-content .form-control {
    border: medium none !important;
    border-radius: 10px;
    height: 40px !important;
    line-height: 40px !important;
    padding: 6px;
}
.home-content .form-control:focus {
	box-shadow: none;
}
.home-content .input-group-btn .btn {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0 15px 15px 0 !important;
    box-shadow: none !important;
    height: 40px;
    margin-left: 0;
    margin-top: 0;
    min-width: 40px;
    padding-top: 6px;
}
.home-content .input-group-btn .btn .fa {
	width: 41px;
	height: 40px;
	background: url(../images/search-icon-home.png);
	margin-top: 5px;
}
 .home-content .form-control::-webkit-input-placeholder {
 color: #999;
font-style:italic;
font-size:16px;
font-weight:300;
}
 .home-content .form-control:-moz-placeholder { /* Firefox 18- */
 color: #999;
font-style:italic;
font-size:16px;
font-weight:300;
}
 .home-content .form-control::-moz-placeholder {  /* Firefox 19+ */
 color: #999;
font-style:italic;
font-size:16px;
font-weight:300;
}
.home-content .form-control:-ms-input-placeholder {
color: #999;
font-style:italic;
font-size:16px;
font-weight:300;
}
.popular-service-head {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin: 24px auto 16px auto;
    min-width: 230px;
    max-width: 370px;
}

.home-page-small-content {
	max-width: 670px;
	margin: 0 auto;
	text-alig: left;
}
/*.home-page-links {
	border-bottom: 3px solid #015e90;
	color: #fff;
	display: block;
	font-size: 14px;
	margin-bottom: 15px;
	min-height: 50px;
	padding-bottom: 5px;
	padding-right: 30px;
	text-align: left;
	position: relative;
	background: url(../images/home-page-link-bg.png) no-repeat right center;
	line-height: 16px;
}*/

.home-page-links {
    border-top: 3px solid #015e90;
    color: #fff;
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
    min-height: 50px;
    padding-top: 6px;
    padding-right: 30px;
    text-align: left;
    position: relative;
    background: url(../images/home-page-link-bg.png) no-repeat right center;
    line-height: 16px;
}


.home-page-links:hover {
    color: #fff;
    border-top: 3px solid #fff;
    text-decoration: none;
}

.home-page-links::after {
    background: #ffc600 none repeat scroll 0 0;
    top: -3px;
    content: "";
   height: 3px;
    left: 0;
    position: absolute;
    width: 15px;
}

.btn.btn-yellow {
	background: #ffc600;
	color: #000;
	text-transform: capitalize;
	padding: 8px 15px;
	border-radius: 5px !important;
	margin-top: 15px;
}
.home-page .item {
	height: 200px;
	background: #fff;
}
.home-page .carousel-caption {
	margin: 0 auto;
	max-width: 1000px;
	position: static!important;
	top: 0;
}
.home-page .carousel .carousel-caption h3 {
	text-align: center!important;
	margin: 0 0 10px 0!important;
	color: #0081c6;
	font-size: 25px;
	font-weight:300;
}
.home-page .carousel {
	padding: 20px 0;
	position: relative;
	text-align: center;
}
.home-page .carousel .carousel-caption span {
	color: #999999;
	text-shadow: none;
}
.home-page .carousel .carousel-caption p {
	max-width: 740px;
	margin: 10px auto;
	font-size: 15px;
	line-height: 22px;
	text-shadow: none;
	color: #666;
}
.home-page .carousel-control span {
	border: 1px solid #9ac1d6;
	border-radius: 50%;
	height: 50px;
	line-height: 46px;
	text-align: center;
	width: 50px;
}
.home-page .carousel-control {
	opacity: 1;
}
.home-page .carousel-control > span {
	top: 40%;
}
.home-page .social-footer {
	text-align: left;
}
.home-page .social-footer li a {
}
.home-page .social-footer li a:hover {
	opacity: 0.7
}
.home-page .copyright p, .home-page .copyright a, .home-page .copyright {
	font-size: 14px;
	color: #666;
}
.dropdown-login {
	position: relative;
}
.login-overlay {
	position: fixed;
	top: 134px;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	background: rgba(0,0,0,0.8);
	z-index: 99;
}
.is-sticky .login-overlay {
	top: 72px;
}
.login-signin-box {
	display: none;
	border: 3px solid #0081c6!important;
	position: absolute;
	width: 270px;
	height: 300px;
	padding: 30px;
	right: 0;
	z-index: 9999;
	background: #ffffff;
	border-radius: 10px;
	top: 50px;
}
.login-signin-box .login-form {
	position: relative;
}
.login-signin-box .login-form:before {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #0081c6;
	bottom: -10px;
	content: "";
	height: 0;
	position: absolute;
	width: 0;
	top: -40px;
	right: 10%;
}
.login-signin-box .btn, .login-signin-box .btn:hover{
	background: #0081c6 none repeat scroll 0 0;
	border-radius: 5px !important;
	color: #fff;
	display: block;
	margin: 15px 0;
	width: 100%;
}

.login-form .form-body {
    padding: 0;
}
.login-form .form-actions.full-width-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin: 0;
    padding: 0;
}
.login-signin-box .form-actions a {
	background: none!important;
	font-size: 11px;
}
.form-actions.full-width-btn a {
	float: left;
	padding: 0 !important;
	text-transform: capitalize !important;
	width: auto;
	border-radius: 0!important;
	color: #666666!important;
	font-size: 13px!important;
}
.form-actions.full-width-btn a:last-child {
	float: right;
}
.login-form label {
	color: #0081c6;
	font-size: 15px;
	font-weight: 400;
}
.login-form input.form-control {
	background: #f1f1f1 none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: none;
	height: 40px;
	line-height: 40px;
}
.home-page .nav.navbar-nav li.dropdown-login .last.active {
	background: #0081c6 url(../images/sign-in-icon-white.png) no-repeat 10px 8px;
	color: #fff;
}
.form-actions.full-width-btn a .fa.fa-pencil-square-o {
	margin-right: 7px;
}
/*Officer Homepage */

.officer-login-upcoming-services {
	color: #0081c6;
}

.officer-page-small-content {
	max-width: 900px;
	margin: 0 auto;
	text-alig: left;
}
.announcements, .upcoming, .signin {
	min-height: 340px;
	-webkit-box-shadow: 0 12px 16px -6px black;
	-moz-box-shadow: 0 12px 16px -6px #003859;
	box-shadow: 0 12px 16px -6px #003859;
	color: #333;
	padding: 0 20px;
}
.announcements {
	background: white;
	border-bottom: 6px solid #fdc403;
}
.upcoming {
	background: white;
	height: 100px;
	border-bottom: 6px solid #0ac600;
}
.signin {
	background: #f0f0f0;
	border-bottom: 6px solid #0081c6;
}
.announcements h2 {
	border-top: 5px solid #fdc403;
	display: inline-block;
	margin-top: 0;
	font-weight: 400;
	text-transform: uppercase;
	color: #fdc403;
	font-size: 20px;
	padding-top: 5px;
}
.upcoming h2 {
	border-top: 5px solid #0ac600;
	display: inline-block;
	margin-top: 0;
	font-weight: 400;
	text-transform: uppercase;
	color: #0ac600;
	font-size: 20px;
	padding-top: 5px;
}
.signin h2 {
	border-top: 5px solid #0081c6;
	display: inline-block;
	margin-top: 0;
	font-weight: 400;
	text-transform: uppercase;
	color: #0081c6;
	font-size: 20px;
	padding-top: 5px;
}
.btnSigninOfficer {
	border-width: 0;
	padding: 7px 14px;
	font-size: 17px!important;
	text-transform: uppercase;
	background: #0081c6;
	outline: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	text-shadow: none;
	width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;
	color: #fff;
}
.signin .login-form input.form-control {
	background: none;
	border-radius: 5px;
	box-shadow: none;
	height: 40px!important;
	line-height: 40px!important;
	border: 1px solid #999 !important;
	color: #333;
	width: 100%;
}
.text-center .signin .login-form label {
	color: #333;
	font-size: 15px;
	font-weight: 400;
	text-align: left !important;
	text-transform: uppercase;
}
.signin .form-actions.full-width-btn a {
	text-transform: capitalize !important;
	width: auto;
	color: #333!important;
	font-size: 13px;
}
.signin fa-edit:before, .fa-pencil-square-o:before {
	content: "\f044";
	color: #0081c6;
	font-size: 16px;
}
.signin .form-group {
	text-align: left;
}
.announcements ul li, .upcoming ul li {
	text-align: left;
	border-bottom: 1px solid #e7e7e7;
	padding: 10px 0;
}
.announcements ul li span {
	display: block;
	color: #e9b516;
}
.announcements ul li a:hover, .upcoming ul li a:hover {
	text-decoration: none;
	color: #000;
}
.announcements ul li span a {
	color: #e9b516;
}
.announcements .offlast, .announcements .offlast {
	text-align: right;
	border-bottom: none;
}
li [class*=" fa-"] {
	display: inline-block;
	width: 0.7em;
	text-align: center;
}




/*Officer Homepage */



.navbar-header-fixed {
	position: fixed;
	z-index: 99999;
	left: 50%;
	margin-left: -195px;
	width: 390px;
	top: 0px;
	right: auto;
}
.content-bg {
    background: #0081c6 none repeat scroll 0 0;
    margin-bottom: 50px;
    width: 100%;
}
.content-bg .container {
	background: url(../images/content-bg.png) no-repeat right top;
	min-height: 180px;
}
.heading {
	display: inline-block;
	margin: 40px 0 20px 0;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
	font-size: 40px;
	border-bottom: 1px solid #80c0e3;
	font-family: 'Lato', sans-serif!important;
}
.heading > span {
	text-transform: lowercase;
}
.grey-text-writups {
	color: #666;
	font-size: 27px;
	font-weight: 300;
	margin: 0px auto;
	max-width: 770px;
	font-family: "Open Sans", sans-serif;
}
.grey-text-writups strong {
	font-weight: 600;
	color: #0199cb;
}
.writup-box {
	font-size: 14px;
	margin: 0 15px;
	font-family: "Open Sans", sans-serif;
	color: #666;
	min-height: 260px;
}
.writup-box a {
	font-family: "Open Sans", sans-serif!important;
}
.writup-box > p {
	line-height: 22px;
}
.col-md-4.border-right {
	border-right: 1px solid #ddd;
	margin-top: 40px;
}
.col-md-4.border-right:last-child {
	border: none;
}
.blue-head {
	color: #0081c6;
	font-size: 16px;
	margin-bottom: 20px;
}
.col-md-4.border-right.table-cell {
	display: table-cell;
	float: none;
}
.big-font {
	font-weight: 700;
	font-size: 40px;
	font-family: 'Lato', sans-serif!important;
}
.home-page .panel-collapse.collapse .panel-body::before {
	border: none;
}
.home-page .faq .panel-body {
	background: none;
	border-top: 4px solid #0081c6;
	padding: 15px 0;
	border-bottom: 1px solid #ccc;
}
.home-page .faq .panel.panel-default a.collapsed {
	background: rgba(0, 0, 0, 0) url("../images/plus.png") no-repeat scroll right 5px;
	color: #666;
	font-size: 15px;
	border-bottom: 1px solid #ccc;
}
.home-page .faq .panel.panel-default a {
	background: url(../images/minus.png) no-repeat right 5px;
	color: #0081c6;
	font-size: 22px;
	font-weight: 400;
}
.yellow-box {
	padding: 20px 15px;
	background: #ffc600;
	color: #000;
	margin-bottom: 15px;
	line-height: 20px;
}
.blue-box {
	padding: 20px 15px;
	background: #0081c6;
	color: #000;
	margin-bottom: 15px;
	line-height: 20px;
}
.yellow-box h4, .blue-box h4 {
	font-size: 22px;
	color: #000;
	font-weight: 400;
	margin-bottom: 20px;
}
.home-page .faq .list-style li {
	list-style: outside none none;
	background: rgba(0, 0, 0, 0) url("../images/list-style-bg.jpg") no-repeat scroll left 5px;
}
.sidebar-content {
	margin-left: 20px;
}
.home-page .faq .panel-group {
	min-height: 0;
}
h5 {
	color: #666;
}
.home-page .page-sidebar-menu {
	background: none;
}
.home-page ul.page-sidebar-menu > li > a {
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	font-family: 'Lato', sans-serif!important;
}
.home-page .page-sidebar-menu > li.active > a::after, .page-sidebar-menu > li > a:hover::after {
	color: #0081c6;
	font-size: 24px;
}
.home-page ul.page-sidebar-menu > li.active {
	border-bottom: 3px solid #ffc600;
}
.home-page sidebar-content h2 {
	color: #0081c6;
	font-size: 34px;
	font-weight: 300;
	margin-bottom: 20px;
}
.home-page h3 {
	color: #000;
	font-size: 20px;
	font-weight: 400;
	margin-top: 30px;
}
.processing-div {
	margin: 20px 0;
	float: left;
	width: 100%;
	 display: table;
}
.processing-div p {
    border-right: 1px solid #ddd;
    color: #666;
    display: table-cell;
    float: none;
    font-size: 18px;
    font-weight: 300;
    margin-right: 20px;
    min-width: 220px;
    padding: 0 10px;
}
.processing-div p > span {
	color: #0081c6;
	display: block;
	font-size: 24px;
	line-height: 20px;
	margin-left:66px;
}
.processing-div p > img {
	float: left;
	margin-right: 10px;
}
.processing-div .btn.btn-yellow {
	margin: 0 0 0 20px;
}
.processing-div.border-bottom p:last-child {
	border: medium none;
	min-width: 100px!important;
}
.home-page .navbar.navbar-default.after-login .nav.navbar-nav li.logout-btn .last {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	 border: 2px solid #0081c6!important;
	border-radius: 3px;
	color: #666;
	float: right;
	font-size: 13px;
	padding: 5px 10px;
	text-align: center;
	text-transform: capitalize;
	
	
}

.logout-btn {
    height: 40px;
    line-height: 50px;
}
.logout-btn span {
	color: #666;
	font-size: 15px;
}
.logout-btn span.user {
	color: #0081c6;
}

.logout-btn .open .dropdown-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0!important;
	text-decoration:none;
}
.navbar-collapse .nav.navbar-nav .logout-btn .open  ul.dropdown-menu{ max-width:140px; right:0; border:1px solid #ddd; background:#fff!important;}
.navbar-collapse .nav.navbar-nav .logout-btn .open .dropdown-menu li a {
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid #ddd !important;
    color: #666;
    font-size: 14px;
    padding: 5px;
    text-align: left;
    white-space: pre-wrap;
}
.navbar-collapse .nav.navbar-nav .logout-btn .open .dropdown-menu li a:hover{ background:#f5f5f5!important;}
.navbar-collapse .nav.navbar-nav .logout-btn .open  .dropdown-menu li:last-child a{ border:none !important;}
h1.blue-head {
    font-size: 30px;
    margin-top: 20px;
	margin-bottom:0;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"]{
    float: left;
    margin-left: 0;
    margin-right: 10px;
    position: static;
}

.new-window-page p {
    clear: both;
    float: left;
    margin-top: 20px;
    width: 100%;
}

textarea.form-control, textarea.form-control:focus {
    min-height: 80px;
	 box-shadow: none;
}

.radio-list {
    margin-bottom: 10px;
}


.tabs-new-tab{ display:none;}
.tabs-new-tab.active{ display:block;}

.nav.navbar-nav.manage-user li a {
    border: medium none;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 40px!important;
    padding-top: 5px;
}

.nav.navbar-nav.manage-user li {
    border-right: 1px solid #4dbce7;
}

.online-chat img {
    display: block;
    margin: 0 auto;
}


/*CSS FOR Francias LANGUAGE */



/*CSS FOR RWANDA LANGUAGE */

html[lang="rw"] .login-signin-box {
    width: 310px;
}

html[lang="rw"] .home-page-links {
    min-height: 72px;
}

html[lang="rw"] .nav.nav-tabs.no-margin.border-right li {
    display: table-cell;
    float: none;
    text-align: center;
}



.panel-body p a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    font-size: 13px !important;
}


li.register {
    float: right!important;
    padding: 0 !important;
}

li.register > a {
    border: 2px solid #ddd !important;
    border-radius: 5px;
    height: 36px !important;
    line-height: 33px !important;
    margin: 5px 0 0 10px !important;
    padding: 0 10px !important;
	min-width: 116px;
}

li.register > a .fa.fa-pencil-square-o {
   width: 18px;
}

.register > a:hover:after{ border:none!important}

.login-form p.close {
    height: 28px;
    opacity: 1;
    position: absolute;
    right: -20px;
    top: -20px;
    width: 30px;
}

.login-form p.close img{ display:block}

.welcome-message.login-box .fa.fa-pencil-square-o::before {
    color: #fff !important;
}

#myCarousel h1 {
    border-bottom: 1px solid #d7d7d7 !important;
    color: #999;
    display: inline-block;
    font-size: 35px;
	text-shadow:none;
}

#myCarousel h1 img {
    margin-right: 10px;
}

.faq .btn.ubtn-yellow {
    background: #ffc600 none repeat scroll 0 0 !important;
    border-radius: 5px !important;
    color: #000 !important;
    padding: 8px 10px;
    text-transform: uppercase !important;
}

.col-md-12.margin-top-20.margin-bottom-10 .input-group {
    margin-top: 10px;
}

.taglib-language-list-text {
    border:none;
	border-bottom:1px solid #ddd;
    display: block;
    line-height: 30px;
    min-width: 120px;
    padding: 0 10px;
}


.social-footer {
    list-style: outside none none;
    margin: 35px 0 0;
	
}


/*.nav-right{ display:none;}*/


.navbar-nav .logout-btn .open .dropdown-menu {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 0;
    margin-top: -15px;
    padding-top: 0;
}

.navbar-nav .logout-btn .open .dropdown-menu li {
    border-bottom: 1px solid #ddd;
    margin: 0;
	
}

.navbar-nav .logout-btn .open .dropdown-menu li:last-child {
    border: medium none;
}

.navbar-nav .logout-btn .open .dropdown-menu li a {
    display: block;
    font-size: 12px;
}
.navbar-nav .logout-btn .open .dropdown-menu li a {
    border-right: medium none;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 5px 10px;
}

.registerpage .nav-right {
    display: none !important;
}

.home-page-small-content .btn.btn-yellow {
    margin: 20px auto;
    max-width: 200px;
}

.navbar-collapse-close{ visibility:hidden;}


.home-link{ display:none;}

.login-icon .dropdown-menu::after, .navbar-nav .logout-btn .open .dropdown-menu::after {
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    right: 5px;
    position: absolute;
    top: -6px;
}

.login-icon .dropdown-menu::after{right:5px; left:auto;}




@media (max-width:990px) {
.home-page .carousel-caption {
	display: block;
	max-width: 530px !important;
}


.home-page .navbar-brand img {
	width: 300px;
}
.login-overlay {
	display: none!important;
}
.col-md-4.border-right.table-cell {
	display: block;
	border: none;
	border-bottom: 1px solid #ddd;
}
.home-page-top-nav {
	margin-top: 40px;
}
#stickey.navbar-collapse.collapse {
    position: static!important;
}
#btnSearch.btn.blue.height {
    line-height: 30px;
    min-width: 60px;
}

.home-page .nav.navbar-nav li > a { padding:0 15px;}

/*NEW CSS ADDED ON 27-11-15*/

.navbar-header-fixed {
    left: 50%;
    margin-left: -120px;
    position: fixed;
    right: auto;
    top: 0;
    width: 240px;
    z-index: 99999;
}

.navbar-header-fixed img {
    width: 100% !important;
}

/*NEW CSS ADDED ON 27-11-15*/





/*NEW CSS ADDED ON 15-12-15*/

.navbar-default .navbar-nav a {
    font-size: 12px;
}

.home-page .nav.navbar-nav li > a {
    padding: 0 10px;
}


html[lang="fr"] .home-page .navbar-collapse .nav.navbar-nav li a, html[lang="rw"] .home-page .navbar-collapse .nav.navbar-nav li a {
    font-size: 12px;
    max-width: 110px;
}



.home-page  .navbar-collapse .nav.navbar-nav li a {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

html[lang="en"] .home-page .navbar-collapse .nav.navbar-nav li a {
    max-width: 150px;
}

}

@media (max-width:767px) {
.home-page .navbar-collapse.collapse {
	padding: 0;
}
.home-page .navbar {
	min-height: 0;
}

.sticky-wrapper {
	height: auto !important;
}

.home-page .navbar-default .navbar-nav > .active::after, .home-page .navbar-default .navbar-nav > li:hover::after, .home-page .navbar-default .navbar-nav > .open > a::after {
	border:none;
	bottom: -23px;
	content: "";
	left: 0;
	position: absolute;
	width: 100%;
}


.navbar-collapse .nav.navbar-nav li > a, .navbar-collapse .nav.navbar-nav li > a:hover {
	background:none!important;
	color:#fff!important;
}

.irambo-home-logo img {
	width: 300px;
}
.home-page .carousel-caption {
	display: block;
	max-width: 400px !important;
}
.home-page .carousel-control.right {
	right: 50px;
}
.home-page .item {
    background: #fff none repeat scroll 0 0;
    height: 280px;
    margin-bottom: 10px;
}
.home-page .nav.navbar-nav li:last-child {
	float: left;
	margin: 0px 0;
}

.home-page .nav.navbar-nav.manage-user li{ float:none;}
 
.home-page .after-login .nav.navbar-nav li:last-child {
    float: none;
}

.home-page .nav > li a.last {
	float: none;
	width: 110px;
	margin: 0 auto;
}

.home-page .login-icon.margin-top-10 li {
	text-align: center;
}
.home-page .navbar-brand img {
	margin: 0 15px;
}
.home-page .navbar-default .navbar-toggle {
	border: medium none;
}
.login-signin-box {
    left: 0;
    margin-bottom: 20px;
    margin-left: 0;
	position:static;
}


.login-signin-box .login-form::before {
    left: 5%;
}

.sidebar-content {
	margin-left: 0px;
}

html[lang="rw"] .nav.nav-tabs.no-margin.border-right li {
    display: block;
    float: none;
    text-align: center;
}


.home-page-links{ height:auto!important; min-height:30px!important; margin-bottom:20px!important;}
.home-content {
    background: #0072bd url("../images/home-bg.png") no-repeat scroll left top / cover ;
    min-height: 540px;
	padding-bottom:30px;
}

.home-page .navbar.navbar-default.after-login .nav.navbar-nav li.logout-btn .last {
    position: absolute;
    top: 0;
    right: 10px;
}

.logout-btn {
    line-height: 30px;
}

#stickey.navbar-collapse.collapse {
    padding-bottom: 30px;
}

.home-page .nav.navbar-nav li.dropdown-login {
    float: left !important;
    margin: 0 !important;
    width: auto !important;
}
.navbar-collapse .nav.navbar-nav .logout-btn .open ul.dropdown-menu {
    margin-bottom: 20px!important;
}
.home-page .nav.navbar-nav li.dropdown-login a{ margin:10px 0 10px  0}
.processing-div p {
    border-right: 1px solid #ddd;
    color: #666;
    display: inline-block;
    float: none;
    font-size: 18px;
    font-weight: 300;
    margin-right: 20px;
    min-width: 220px;
    padding: 0 10px;
    vertical-align: top;
}



/*CSS ADDED ON 25-11-2015*/

#myCarousel h1 {
    display: block;
    font-size: 24px;
    text-align: center;
}

#myCarousel h1 img{ display:none; }

.carousel-control {
    display: none;
}

.home-page .carousel-caption {
    margin-left: 20px;
    margin-right: 20px !important;
    max-width: 90% !important;
    text-align: left;
    width: 100% !important;
}

.home-page .carousel .carousel-caption h3 {
    text-align: left !important;
	font-size:17px;
}

.home-page .carousel-caption {
    padding-bottom: 0 !important;
}


.item {
    border-bottom: 1px solid #ddd;
    clear: both;
    display: block !important;
    height: auto !important;
    padding-bottom: 5px;
    position: static !important;
}


.copyright .pull-right {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}


.carousel-inner > .item {
    transition: none!important;
}

.carousel-inner > .item.active{ transition: none!important; display:block!important;}



/*NEW CSS ADDED ON 27-11-15*/

.sticky-wrapper .container.relative{ position:static;}

.home-page .nav.navbar-nav li.dropdown-login a {
    margin: 5px 0;
}

/*.nav-right {
    left: 15px;
    position: absolute;
    right: auto;
    top: 74px;
    z-index: 9999;
}
*/
#stickey {
    position: fixed !important;
}

.after-login #stickey {
    position: static !important;
}

.login-signin-box {
    min-width: 260px;
}

.footer-links { float:left; width:100%;}

.footer-links > li {
    clear: both;
    display: block;
    float: none !important;
    text-align: center !important;
    width: 100%;
}

.footer-links > li a{ display:block; text-align:center; padding:10px 0; border:none;}

.footer-links > li a {
    border-bottom: 1px solid #efefef;
    display: block;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.footer-links > li:last-child  a{ border:none;}

/*NEW CSS ADDED ON 27-11-15*/






html[lang="fr"] .dropdown-login a.last, html[lang="fr"] .register a {
    width: auto;
}

.home-page-top-nav {
    background: #004267 none repeat scroll 0 0 !important;
    margin-top: 0;
    min-height: 50px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.logo-new{ display:block;}
.navbar-brand.logo-v1.logo-new > img {
    width: 170px;
}


.login-icon.margin-top-10 {
    margin-top: 50px !important;

}
.login-icon.margin-top-10 {
    margin-top: 5px !important;
}

.navbar-brand{ padding:0!important;}

.navbar-header {
    border-bottom: 1px solid #ccc;
}



.home-page .navbar-default .navbar-toggle:focus, .home-page .navbar-default .navbar-toggle:hover{ background:none;}

.after-login .nav-right {
    background: none;
    position: static;
}

.navbar-nav .logout-btn .open .dropdown-menu {
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 3px 3px #777;
    left: 10px;
    margin-top: 0;
    max-width: 240px;
    padding: 0 10px;
    position: absolute;
    width: auto !important;
    z-index: 999999999;
	min-width: 200px;
}

.navbar-nav .logout-btn .open .dropdown-menu li a{ margin:0;}
.after-login .login-icon.margin-top-10 {
    margin-top: 5px !important;
}

.home-page .navbar.navbar-default.after-login .nav.navbar-nav li.logout-btn .last {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 0;
    width: auto;
}





/*CSS ADDED ON 01-02-2016*/


.home-page .nav.navbar-nav li:last-child a {
    border: none!important;
}
.home-page-small-content .col-sm-4 {
    display: table;
    width: 100%;
}

.home-page-links {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-top: 1px solid #32a6e4 !important;
    display: table;
    float: none;
    height: 50px !important;
    margin-bottom: 0 !important;
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: middle;
    width: 100%;
	padding-bottom: 5px;
}


.home-page-links:hover {
    color: #fff;
    border-top:none;
    text-decoration: none;
}

.home-page-links::after {
    background: #ffc600 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -10px;
    position: absolute;
    top: 0;
    width: 10px;
}

.text-small {
    display: table-cell;
    float: none;
    font-size: 14px;
    margin-left: 0;
    max-width: 160px;
    vertical-align: middle;
}
.home-link {
    display: block;
    float: right;
}

.home-link strong {
    display: block;
    font-weight: 600;
}

.home-link span {
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
    float: left;
    font-size: 11px;
    height: 54px;
    margin-left: 5px;
    padding: 8px 4px;
    text-align: center;
    width: 54px;
}

.irambo-home-logo img {
     height: auto;
    width: 240px;
}
.home-page .carousel-caption {
    text-align: center;
}
.home-page .carousel .carousel-caption h3 {
    color: #0082c8;
    font-weight: 400;
    text-align: center !important;
}


.home-page .carousel .carousel-caption p {
    color: #666;
    font-size: 13px;
    line-height: 19px;
    margin: 10px auto;
    max-width: 740px;
    text-shadow: none;
}

.home-content .input-group-btn .btn .fa {
    background: rgba(0, 0, 0, 0) url("../images/search-icon-home-icon.png") no-repeat scroll 0 0;
    height: 27px;
    margin-top: 5px;
    width: 30px;
}


.home-content .input-group-btn .btn {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0 6px 6px 0 !important;
	height:50px;
}

.home-content .form-control {
    border: medium none !important;
    border-radius: 6px;
    height: 50px !important;
    line-height: 50px !important;
    padding: 6px;
}

.home-content {
    background: #0082c8;
}

.popular-service-head {
    font-size: 21px;
    font-weight: 400;
}

.logo-new {
    display: none;
}

.home-page .navbar-default .navbar-toggle {
    border: medium none;
    left: 0;
    margin-right: 0;
    position: absolute;
    z-index: 999999;
}

.navbar-header{ border:none;}

.navbar-default .navbar-toggle .icon-bar {
    background: #fff none repeat scroll 0 0;
    height: 2px;
    width: 23px;
}

.login-icon.margin-top-10 {
    border-bottom: medium none;
    left: 40px;
    margin-top: 0;
    padding-bottom: 0;
    position: absolute;
    top: 5px !important;
}


.home-page .login-icon li.dropdown {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #0082c8 !important;
    border-radius: 5px ;
    display: inline-block;
    float: none;
    line-height: 100%;
    padding: 6px 5px 7px;
}

.login-icon li {
    width: auto;
}
.home-page .nav-right {
    right: 20px !important;
    top: 5px;
	
}
.home-page .nav.navbar-nav {
    margin: 0;
}

.home-page .login-icon li.dropdown .dropdown-toggle{ color:#0082c8; font-size:12px; text-transform:uppercase; font-weight:600;}

.search-box .input-group {
    border: 2px solid #0071af;
    border-radius: 9px;
    margin: 0 10px;
}



li.register > a {
    border: 2px solid #0082c8 !important;
    border-radius: 4px;
    color: #0082c8 !important;
    font-size: 12px !important;
    height: auto !important;
    line-height: 16px !important;
    margin: 5px 0 !important;
    padding: 6px 10px 5px 4px !important;
	font-weight: 600;
}
.home-page .nav.navbar-nav li.dropdown-login {
    float: left;
    margin-right: 5px !important;
    margin-top: 5px !important;
}

.home-page .nav.navbar-nav li.dropdown-login .last.active {
    background: #0081c6 url("../images/sign-in-icon-white.png") no-repeat scroll 5px 5px;
    color: #fff;
}

li.register > a .fa.fa-pencil-square-o {
    float: left;
    width: 22px;
}

.login-signin-box .login-form::before {
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    height: 0;
    left: auto !important;
    position: absolute;
    right: 0;
    top: -38px;
    width: 0;
}

.login-signin-box {
    background: #ffffff none repeat scroll 0 0;
    border: 3px solid #0081c6 !important;
    border-radius: 10px;
    display: none;
    height: 300px;
    padding: 30px;
    position: absolute !important;
    right: 0 !important;
    top: 38px;
    width: 270px;
    z-index: 9999;
	left:auto;
}

.home-page .nav.navbar-nav li.dropdown-login a {
    background: #ffc600 url("../images/sign-in-icon.png") no-repeat scroll 5px 5px;
    border: medium none;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
    margin-top: 0;
    padding: 5px 8px 5px 0px !important;
    text-transform: uppercase;
}

html[lang="fr"] .home-page .nav.navbar-nav li.dropdown-login a{padding-left:26px !important;}

#myCarousel h1 {
    color: #555;
}
.carousel-caption{ padding-top:0;}

/*CSS ADDED ON 01-02-2016*/


.home-page .navbar-collapse {
    background: #004267 none repeat scroll 0 0;
    height: 100%;
	min-height: 100%;
	border: none;
	left:-200%;
    position: fixed;
    top: 0;
    width: 240px;
    z-index: 999999;
	overflow:auto;
}


.navbar-collapse .nav.navbar-nav {
    overflow: auto;
    padding-top: 50px;
}

.navbar-default .navbar-collapse .navbar-nav > li > a {
     border-bottom: 1px solid #32638f;
    border-right: medium none;
    color: #fff;
    display: block;
    font-size: 13px;
    margin: 0;
    padding: 10px 0;
    text-align: left;
    text-transform: uppercase;
}

.navbar-default .navbar-collapse .navbar-nav > li > a:focus, .navbar-default .navbar-collapse .navbar-nav > li > a:focus:after{ color:#ddd; }

.navbar-collapse-close {
    display: block;
    position: absolute !important;
    right: 15px;
    text-align: right;
    top: 20px !important;
    width: 100%;
    z-index: 9999999;
	visibility:visible;
}

.navbar-collapse-close:hover{ cursor:pointer;}

#content, .page-container, .content-bg{ padding-top:50px;}

.container #content {
    padding-top: 0;
}
body.scroll-left {
    overflow: hidden;
}


.announcements, .upcoming, .signin {
    height: auto !important;
    margin-bottom: 20px;
    min-height: 100%;
}

.col-md-4.border-right{ border-right:none;}

.after-login .nav-right .nav.navbar-nav {
    background: #dfdfdf none repeat scroll 0 0 !important;
    left: 0;
    padding: 0 10px;
    position: absolute;
    top: 50px;
}

.home-page .navbar.navbar-default.after-login .nav.navbar-nav li.logout-btn .last {
    color: #0082c8 !important;
    font-weight: 600 !important;
    padding: 3px 9px !important;
    position: fixed !important;
    right: 15px !important;
    text-transform: uppercase !important;
    top: 10px !important;
	z-index: 9999;
}
.navbar.navbar-default.after-login ~ #content, .navbar.navbar-default.after-login ~ .content-bg, .navbar.navbar-default.after-login ~ .page-container{
    padding-top: 90px;
}

.navbar-nav .logout-btn .open .dropdown-menu li {
    border-bottom: 1px solid #ddd;
    float: left;
    margin: 0;
    width: 100%;
}
.navbar-nav .logout-btn .open .dropdown-menu li a {
    overflow: visible !important;
}

.home-page .nav-right .nav.navbar-nav .user-after-login .dropdown-menu a {
    width: 100%!important;
    display: block;
    overflow: visible;
    white-space: normal;
    min-width: 100%!important;
    text-align: left;
}

.after-login .login-icon .dropdown-menu {
    margin-top: 0px;
}

.home-page .login-icon a {
    color: #777;
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
}

.col-sm-4.sign-in-top {
    height: 310px;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.officer-page-small-content {
    position: relative;
}
.col-sm-4.announcements-top {
    margin-top: 330px;
}

.user-after-login {
    background: #ddd none repeat scroll 0 0;
    left: 0;
    padding: 4px 13px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.login-icon .dropdown-menu::after {
    left: 5px;
    right: auto;
}

.logout-btn .open .dropdown-menu::after {    
    left: 5px;
    right: auto!important;
}

.home-page .navbar-collapse .nav.navbar-nav li a {
    max-width: 100%!important;
}
}

@media (max-width:620px) {


.processing-div p {
    border-bottom: 1px solid #ccc;
    border-right: medium none;    
    display: block;
    margin-bottom: 10px;
    padding: 0 10px 23px;
}

.processing-div .btn.btn-yellow {
    margin: 0 0 0 0px;
}

.processing-div.border-bottom p:last-child {
    float: left;

}





}

@media (max-width:480px) {

.login-signin-box .login-form::before {
    right: 41%;
}
.login-signin-box {
    left: 50%;
    margin-bottom: 20px;
    margin-left: -150px;
    position: absolute;
}

html[lang="rw"] .login-signin-box {
    width: auto;
}


.home-page .login-icon li.dropdown .dropdown-toggle, .home-page .nav-right .nav.navbar-nav li > a {
    display: block;
    float: left;
    font-size: 11px !important;
    max-width: 76px !important;
    min-width: 76px !important;
    overflow: hidden;
    padding-left: 4px !important;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 76px !important;
}

.home-page .nav.navbar-nav li.dropdown-login a {
    background: #ffc600;
    border: medium none;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
    margin-top: 0;
    padding: 5px 8px 5px 4px !important;
    text-transform: uppercase;
	
}

.home-page .nav.navbar-nav li.dropdown-login .last.active {
    background: #0081c6;
    color: #fff;
}

li.register > a .fa.fa-pencil-square-o {
    display: none;
    float: left;
    width: 22px;
}

html[lang="fr"] .home-page .nav.navbar-nav li.dropdown-login a{padding-left:4px !important;}

.irambo-home-logo img {
    height: auto;
    width: 200px;
}
}


@media (max-width:319px) { 
.text-small {
    max-width: 140px;

}}
