#rw-permit-outer{
    border: 5px solid #0070c0;
}

#rw-permit-middle{
    border: 10px solid #ffff00
}
#rw-permit-inner{
    border: 5px solid #00b050;
    padding: 1.5%;
       background-image: url('img/bck.png') !important;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
     -webkit-print-color-adjust: exact;
	 font-size: 75%;
}



#rw-permit-logo img{
    float: left;
    width: 8%;
}

#rw-permit-logo-text{
    float: left;
    margin-left: 1%;
}

#rw-permit-logo-text p{
    margin-top: 0.5%;
}

#rw-permit-address{
	text-align: right;
}

#rw-permit-address p{
    margin-top: 0.5%;
}


.rw-permit-clearfix{
    clear: both;
}

.rw-permit-top-heading{
    text-transform: uppercase;
    font-size: 75%;
	font-weight: bold;
}

#rw-permit-left, #rw-permit-right{
    float: left;
    margin-right: 12%;
}

.rw-permit-col{
   display: inline-block;
   width: 17%;
   margin-right: 4%;
   font-size: 70%;
}

.rw-permit-col-qr{
   display: inline-block;
   width: 10%;
   margin-left: -10%;
   font-size: 50%;
}

.rw-permit-overleaf-col{
   display: inline-block;
   width: 33%;
}

.rw-permit-col-qr img{
    height: 123%;
    width: 123%;
}

.rw-permit-center-block{
    #margin-top: 3%;
}
