*.rf-pp-btn {
	outline-style: none;
	position: absolute;
	clip: rect(0px, 0px, 1px, 1px);
	height: 0px;
	width: 0px;
	left: 0px;
	top: 0px;
	z-index: -300;
	opacity: 0.1;
	filter: alpha(opacity=10);
}
*.rf-pp-shade {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgb(208, 208, 208);
	opacity: 0.5;
	filter: alpha(opacity=50);
}
*.rf-pp-shdw {
	background-color: rgb(0, 0, 0);
	opacity: 0.1;
	filter: alpha(opacity=10);
	position: absolute;
	top: 6px;
	left: 6px;
	bottom: -6px;
	z-index: -1;
	border-radius: 0px;
}
*.rf-pp-cntr {
	border: 1px solid #C4C0B9;
	border-radius: 0px;
	background: #FFFFFF;
	z-index: 100;
}
*.rf-pp-hdr {
	background: #D4CFC7 url(gradientA.png6deb.png?v=4.3.7.Final&amp;db=eAFjZJBjZDBiZBBh!P!21TPG!1fOH2dgAgA6DgeR&amp;ln=org.richfaces.images) repeat-x scroll top left;
	position: relative;
	padding-left: 10px;
	cursor: move;
	padding: 2px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
*.rf-pp-hdr-cnt {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	padding: 2px;
	padding-left: 10px;
}
*.rf-pp-hdr-cntrls {
	position: absolute;
	top: 2px;
	right: 2px;
	white-space: nowrap;
	cursor: default;
	font-weight: bold;
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	z-index: 100;
}
*.rf-pp-cnt-scrlr {
	top: 0px;
	left: 0px;
	overflow: auto;
	background: #FFFFFF;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
*.rf-pp-cnt {
	padding: 10px;
	color: #000000;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
*.rf-pp-hndlr {
	background-image: url(../javax.faces.resource/spacer.gif.gif);
	position: absolute;
	margin: -4px;
}
*.rf-pp-hndlr-l {
	width: 7px;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: w-resize;
}
*.rf-pp-hndlr-r {
	width: 7px;
	height: 100%;
	top: 0px;
	right: 0px;
	cursor: w-resize;
}
*.rf-pp-ifr {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: white;
	overflow-y: hidden;
	z-index: -1;
}
*.rf-pp-hndlr-t {
	width: 100%;
	height: 7px;
	top: 0px;
	left: 0px;
	cursor: n-resize;
}
*.rf-pp-hndlr-b {
	width: 100%;
	height: 7px;
	bottom: 0px;
	left: 0px;
	cursor: n-resize;
}
*.rf-pp-hndlr-tl {
	width: 10px;
	height: 10px;
	top: 0px;
	left: 0px;
	cursor: nw-resize;
}
*.rf-pp-hndlr-tr {
	width: 10px;
	height: 10px;
	top: 0px;
	right: 0px;
	cursor: ne-resize;
}
*.rf-pp-hndlr-bl {
	width: 10px;
	height: 10px;
	bottom: 0px;
	left: 0px;
	cursor: ne-resize;
}
*.rf-pp-hndlr-br {
	width: 10px;
	height: 10px;
	bottom: 0px;
	right: 0px;
	cursor: nw-resize;
}
