input, select, textarea, button, keygen, isindex, legend, a {
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif ;
	color: #000000;
}
fieldset {
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	border-color: #C4C0B9;
}
hr {
	border-width: 1px;
	border-style: solid;
	border-color: #C4C0B9;
}
a {
	color: #0078D0;
}
a:hover {
	color: #0090FF;
}
a:visited {
	color: #0090FF;
}
input, select, textarea, button, keygen, isindex {
	border-width: 1px;
	border-color: #C4C0B9;
	color: #000000;
}
button, input[type="reset"], input[type="submit"], input[type="button"] {
	border-width: 1px;
	border-color: #C4C0B9;
	border-radius: 0px;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif ;
	color: #000000;
	background-repeat: repeat-x;
	background-position: top left;
	background-color: #D4CFC7;
	background-image: url(buttonBackgroundImage.png7c9d.png?v=4.3.7.Final&amp;db=eAFjZGBkZOBm!P-f8f!bV88Y!185f5yBCQBPWAk3&amp;ln=org.richfaces.images);
}
button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {
	background-position: bottom left;
	background-repeat: repeat-x;
	background-image: url(buttonHoverBackgroundImage.png2273.png?v=4.3.7.Final&amp;db=eAFjZGBkZOBm!P-f8f-V88cZ!7999YyBCQBNuQk3&amp;ln=org.richfaces.images);
}
button[disabled], input[type="reset"][disabled], input[type="submit"][disabled], input[type="button"][disabled] {
	color: #B1ADA7;
	border-color: #cccccc;
	background-color: #cccccc;
	background-image: url(buttonDisabledBackgroundImage.png24d3.png?v=4.3.7.Final&amp;db=eAFjZGBkZOBm!P-f8f!Hjx8Z!585c4aBCQBP8glH&amp;ln=org.richfaces.images);
	background-position: top left;
}
textarea, input[type="text"], input[type="password"], select {
	border-width: 1px;
	border-style: solid;
	border-color: #C4C0B9;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif ;
	color: #000000;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	background-color: #ffffff;
	background-image: url(inputBackgroundImage.pngeed4.png?v=4.3.7.Final&amp;db=eAFjZL!AyMDN-P8!4!-P714C6f!!GZgAYeQKqw__&amp;ln=org.richfaces.images);
}
textarea[disabled], input[type="text"][disabled], input[type="password"][disabled], select[disabled] {
	color: #C4C0B9;
	cursor: default;
}
