	
	/* #Blog Styles
	================================================== */
	
	.sidebar, .rgt-cntt { min-height:160px;}
	.sidebar { padding-bottom:40px; }
	.sidebar.leftside { background-position: 245px; padding-right:60px; }
	.sidebar h4.subtitle { border:0 none; color:#54606b; margin-bottom:14px; font-size:13px; letter-spacing:2px; }
	.sidebar p, .sidebar li { font-size:13px; line-height:21px; font-weight:400; letter-spacing:0.5px; color:#797979;}
	.sidebar input[type="text"].search-side { width:97%; max-width:100%; }
	input[type="text"].search-side, input[type="text"].header-saerch { background:#fdfdfd url(../images/find-ico1.png) no-repeat right;}
	input[type="text"].header-saerch  { float:right; margin:10px 0 0 0; border-radius:2px; padding:5px 28px 5px 8px; width:120px; min-height:18px; -webkit-transition: width 0.22s ease; -moz-transition: width 0.22s ease; -o-transition: width 0.22s ease; transition: width 0.22s ease;}
	input[type="text"].header-saerch:focus { width:160px;}
	
	#main-content-pin, #main-timeline { max-width:100%; background:url(../images/bgb1.png) fixed repeat; padding-top:30px;}
	#main-content-pin { box-shadow:0 1px 2px rgba(0,0,0,0.3) inset; -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3) inset; }
	#main-content-pin .container { width: auto; }
	#main-timeline { background:#fbfbfb; border-top:2px solid #f0f0f0; }
	#pin-content, #tline-content { width:auto; margin:0 auto; position:relative; overflow: hidden; }
	#tline-content { background:url(../images/tline-cnt-bg1.png) repeat-y center center; width:890px; margin:0 auto; }
	#tline-content p { margin-bottom:32px;}
	
	.pin-box, .tline-box { width:212px; width:210px\9; padding:12px; display:block; background:#fff; margin:10px; float:left; border:1px solid #efefef\9; box-shadow:0 1px 3px rgba(0,0,0,0.33); -webkit-box-shadow:0 1px 5px rgba(0,0,0,0.33);}
	.pin-box { border-radius:3px; overflow:hidden;}
	.pin-box  .img-item, .pin-box  iframe { max-width:236px; margin:-12px; margin-bottom:0; }
	.img-item img { margin-bottom:-6px;}
	.pin-box .zoomex { border-radius: 3px 3px 0 0; }
	.tline-box  iframe, .tline-box  img { width:100%; max-width:100%; border-bottom:2px solid #e5e5e5;}
	.pin-box h4, .tline-box h4 { font-size:18px; font-weight:400; margin-top:8px; margin-bottom:10px;}
	.pin-box h4 { font-size:15px; margin-bottom:4px;}
	.pin-box h4 a, .tline-box h4 a { color:#434343;}
	.pin-box h4 a:hover, .tline-box h4 a:hover { color:#d11e25;}
	.pin-ecxt h6.blog-author, .tline-ecxt h6.blog-author, .tline-box h6  { font-size:12px; font-weight:600;  }
	.pin-ecxt, .tline-ecxt { border-bottom:1px solid #efefef; padding:0 12px 8px; margin:0 -12px 8px -12px; }
	.container .pin-ecxt2 p, .pin-ecxt2 p small { font-size:12px; font-weight:bold; margin:0;}
	.pin-ecxt2 p { line-height:20px;}
	.pin-ecxt2 p small { color:#a2a2a2; display:block; }
	.pin-ecxt2 img { width:40px; height:40px; float:left; margin:0; margin-top:4px; margin-right:10px; border-radius:3px;}
	
	.tline-box  { width:380px;  padding:10px; padding-bottom:20px; margin-top:21px; min-height:160px; border-radius:3px; position:relative; border:1px solid #d7dce7; box-shadow:0 1px 3px -2px rgba(0,0,0,0.3); -webkit-box-shadow:0 1px 6px -3px rgba(0,0,0,0.3); }
	.tline-row-l, .tline-row-r { background:url(../images/tmln-ro-r1.png) no-repeat right 12%; width:46px; height:17px; margin-right:-44px; display:block; position:absolute; right:0; top:16px;}
	.tline-row-r { background:url(../images/tmln-ro-l1.png) no-repeat left 12%; left:0; margin:0; margin-left:-43px; }
	.tline-box.rgtline { float:right;  margin-top:53px; right:0; clear: right; }
	
	.tline-box:hover  { box-shadow:0 1px 6px -2px rgba(141,161,199,0.9); -webkit-box-shadow:0 1px 11px -3px rgba(141,161,199,0.9); }
	.tline-topdate { width:150px; height:26px; position:relative; display:block; clear:both; zoom:1; padding:4px; border:2px solid #e5e5e5; background:#fff; font-size:16px; text-align:center; font-weight:bold; line-height:26px; color:#aaa;  margin:0 auto 7px; border-radius:2px;  text-shadow: 0 1px 1px #fff;}
	.tline-topdate.enddte { bottom:0; margin-bottom:0; }
	
	.blog-post { margin-bottom: 40px; }
	.postmetadata { margin-bottom:20px;}
	.postmetadata h6 { display:inline; letter-spacing:1px; text-transform:uppercase; font-size:14px;}
	.blog-post h4, .blog-post h1, .blog-post h3, .blog-line h4 { font-weight: 300; font-family: 'Roboto Slab'; line-height: 1; letter-spacing: -0.03em; }
	.blog-post h3 { font-size: 28px; margin-bottom:8px; font-weight:400; line-height:38px; }
	.blog-single-post h1 {font-size:44px; line-height:54px; font-weight:400;  font-family: 'Roboto Slab'; letter-spacing: -0.06em;}
	.blog-single-post p { font-size:17px;}
	.blog-single-post h6.blog-author { letter-spacing:0.2em;}
	.blog-single-post .postmetadata { margin-bottom:0;}
	
	.latest-f-blog .blog-post h4 { font-size: 24px; font-weight:300; margin-bottom:14px;}
	.blog-post a, .blog-line a { color: #2e373d; -webkit-transition: color 0.18s ease; -moz-transition: color 0.18s ease; -o-transition: color 0.18s ease; transition: color 0.18s ease; }
	.blog-post a:hover, .blog-author span, .blog-line p a:hover { color: #e84a52; }
	.blog-post a.readmore { color: #363f46; margin-top: 12px; }
	.blog-line p, .blog-line p a, .blog-post p.blog-author, .blog-post p.blog-author a { text-align: left; font-size: 12px; text-transform:uppercase; line-height: 1.6; color: #888; margin-bottom: 10px; letter-spacing: 2px;  }
	.blog-post p.blog-cat a, .blog-line p.blog-cat a { color:#e84a52; margin-bottom:7px; letter-spacing:0.3px; font-size:14px; }
	.blog-line p a:hover, .blog-post p a:hover { text-decoration:underline;}
	
	.blog-post p strong, .blog-line p strong { font-weight:400;}
	.blog-post img, .blog-post iframe, .blog-single-post img, .blog-single-post iframe { width: 100%; border-bottom: 3px solid #eee; margin-bottom:14px; }
	.blog-post .flex-control-nav li { margin-bottom: 0;}
	.blog-post .flexslider img, .blog-single-post .flexslider img { margin-bottom:0px;}
	
	.blog-q { border-left: 1px solid #d8d8d8; padding-left: 12px; }
	.blog-q em { color: #a5adae; }
	p.blog-inpic img { float:left; border:1px solid #c9c9c9; background:#f9f9f9; width:280px; max-width:100%; padding:6px; margin:0 14px 14px 0;}
	
	.date-sp-wrap { max-width: 100px; margin: 0 10px; float: left; }
	.blog-date-sp, .blog-com-sp { height: 40px; padding: 6px; padding-bottom: 20px; width: 90px; float: right; border-top-left-radius: 6px; color: #fff; background: #636e75 url(../images/blg-date-botpic1.png) no-repeat bottom right; font-weight: bold; font-family: Arial, sans-serif; }
	.blog-date-sp h3 { width: 30px; float: left; margin: 1px 5px; color: #0093d0; }
	.blog-date-sp span { float: right; margin: 4px; color: #a2aab0; font-size: 12px; line-height: 1.2; }
	.blog-com-sp { background: none; color: #95a2aa; padding: 0 6px 8px; margin-top: -12px; text-align: center; font-size: 12px; height: 16px; border-radius: 0px; border-bottom-left-radius: 11px; }
	.blog-com-sp a { color: #95a2aa; }
	.pin-box .blog-date-sp, .pin-box .blog-com-sp, .tline-box .blog-date-sp, .tline-box .blog-com-sp { position: relative; bottom: 0; margin: -12px; margin-top: 7px; width: 50%; border: 0; border-radius: 0; background: #ebebeb; padding: 0; }
	.pin-box .blog-com-sp, .tline-box .blog-com-sp { float: left; height: 28px; padding: 12px 23px 0 0; }
	.pin-box .blog-date-sp h3, .tline-box .blog-date-sp h3 { margin-left: 12px; margin-top:3px; text-shadow: 0 0 1px rgba(0,0,0,0.1); font-weight:300; font-family:"Roboto", Arial; }
	.tline-box .blog-date-sp, .tline-box .blog-com-sp { width: 49%; margin: -10px; margin-bottom: 0; }
	
	h6.blog-date , h6.blog-cat , h6.blog-author, h6.blog-date a, h6.blog-cat a, h6.blog-author a  { color: #a8b1b4;}
	h6.blog-date a:hover, h6.blog-cat a:hover, h6.blog-author a:hover { text-decoration:underline;}
	
	.tline-box h6.blog-cat { font-size: 13px; background: #f2f2f2; color: #666666; padding-left: 7px; }
	
	.tagcloud a { line-height: 16px; padding: 4px 10px; font-size: 12px; margin: 0 5px 5px 0; float: left; min-width: 18px; border-radius: 4px; width: auto; background: #fefefe; color: #898989; display: block; text-decoration: none; border:2px solid #e1e1e1; text-transform:uppercase; }
	.tagcloud a:hover { color: #333; border-color: #ffcc00; }
	.next-prev-posts { border-top:3px solid #f4f4f4; padding:16px 0; margin-top:20px;}
	.next-prev-posts a.next-post { float:right;}
	.post-tags { background:#fafafa; padding:16px; margin-top:20px;}
	.post-tags a { color:#7c7c7c;}
	.post-tags a:hover { text-decoration:underline;}
	
	.blog-date-sec { color: #555; padding-right:20px; text-align: center; line-height: 10px; border-right: 1px solid #eaeaea; letter-spacing: 2px; }
	.blog-date-sec h3 { color: #555; font-weight: 300; line-height: 1.2; padding-top: 2px; margin: 0; letter-spacing: 4px; }
	.blog-date-sec span { display: block; font-weight: 300; text-transform: uppercase; margin-top: 8px; }
	.blog-line { margin-bottom: 15px; padding-bottom:15px; border-bottom:1px solid #e5e5e5; }
	.blog-line img { float: right; width: 140px; height: 110px; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease; }
	.img-hover { position: relative; max-width: 100%; float: right; margin-left: 15px; }
	.img-hover:before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; -webkit-box-shadow: inset 0 0 0 5px rgba(255,255,255,0.8); -moz-box-shadow: inset 0 0 0 5px rgba(255,255,255,0.8); box-shadow: inset 0 0 0 5px rgba(255,255,255,0.8); opacity: 1; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease; }
	.blog-line:hover .img-hover:before { -webkit-box-shadow: inset 0 0 0 5px #e84a52; -moz-box-shadow: inset 0 0 0 5px #e84a52; box-shadow: inset 0 0 0 5px #e84a52; }
	.blog-line h4 { font-size: 17px; letter-spacing: 0; font-weight: 400; margin-bottom: 10px; line-height:1.4; }
	.blog-line:hover h4 a { color: #e84a52; }
	a.readmore { position: relative; margin: 4px 0 3px 1px; -webkit-transition: all 0.17s ease-in-out; -moz-transition: all 0.17s ease-in-out; -ms-transition: all 0.17s ease-in-out; -o-transition: all 0.17s ease-in-out; transition: all 0.17s ease-in-out; border:2px solid #e5e5e5; padding: 6px 32px 6px 22px; border-radius: 4px; color: #363f46; box-shadow: 0 0 0 0; font-size: 12px; text-transform: capitalize; }
	a.readmore:after, a.magicmore:after, a.addtocart:before, a.select-options:before { position: absolute; right: 10px; top: 9px; font-family: 'icomoon'; font-size: 11px; color: #363f46; content: "\e3c2"; speak: none; font-style: normal; font-weight: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }
	a.readmore:hover { border-color: #363f46; }
	a.readmore:active { background-color: #fafafa; color: #999; }
	a.magicmore, a.addtocart, a.select-options { position: relative; padding: 3px 14px 2px 0; color: #0093d0; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -ms-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease; }
	a.magicmore { font-size: 15px; line-height: 22px; }
	a.magicmore:hover { color: #ffa02f; background-position: 100% 69%; }
	a.magicmore:after { content: "\e3b0"; color: inherit; top: 10px; right: 1px; font-size: 9px; }
	a.magicmore:hover:after { right: 0; }
	a.addtocart, a.select-options { padding: 4px 2px 2px 18px; color: #7f7f7f; float: right; display: inline-block; font-size: 12px; font-weight: bold; }
	a.select-options { float: left; }
	a.addtocart:hover, a.select-options:hover { color: #85bc36; cursor: pointer; }
	a.addtocart:before, a.select-options:before { content: "\e0ca"; color: inherit; top: 8px; left: 1px; font-size: 13px; }
	a.select-options:before { content: "\e08f"; }
	.row.magic { padding-left: 40px; }
	.columns.magic { padding-left: 20px; }
	.magic-link { clear: both; }
	.magic-link a { display: inline-block; font-size: 13px; width: auto; color: #fff; text-shadow: 1px 1px 0 #eb8710; border-radius: 15px; padding: 3px 22px 3px 16px; text-transform: capitalize; background: #ffa02f url(../images/rowp3.png) no-repeat right; background-position: 97% 52%; -webkit-transition: padding 0.2s ease, background 0.16s ease; -moz-transition: background 0.16s ease; -ms-transition: background 0.16s ease; -o-transition: background 0.16s ease; transition: background 0.16s ease; text-align: center; }
	.magic-link a.get { padding: 7px 26px 7px 20px; background-color: #7ebd22; border-radius: 5px; text-shadow: 1px 1px 0 #649b19; text-transform: uppercase; }
	.magic-link a.get.shadow1 { box-shadow: 0px 0px 5px #fff inset, 0 2px 3px -1px #74ad20; -webkit-box-shadow: 0px 0px 7px #fff inset, 0 2px 5px -1px #74ad20; }
	.magic-link a:hover { background-color: #4c4665; background-position: center right; text-shadow: 1px 1px 0 #666; }
	
	/* COMMENT */
	
	.commentbox { min-height:156px;  border-radius:6px; text-align:left; margin:12px 0; }
	#commentform { padding-top:12px; border-top:1px dotted #d3d3d3; }
	#commentform label { font-size:17px; font-weight:300; display:inline;}
	#commentform .required { margin-left:3px;}
	/* comments list */
	ol.commentlist { padding: 0; margin-left:0; background: #fff;  border-top: 1px solid #e5e8ec; }
	.commentlist li {	list-style: none;	margin: 0;	padding: 12px 0 0 0;	border: 1px solid #e5e8ec;    border-width: 0 0px 1px 0px;	overflow: hidden; }
	.commentlist li a:link, .commentlist li a:visited {  color: #227bad; }
	.commentlist li .comment-info {	margin: 0; padding: 0;	overflow: hidden; }
	.commentlist li .comment-info img {	float: left;	margin: 1px 11px 4px 10px;   background: #fff;	border: 1px solid #e8eaec;	display: inline; }
	.commentlist li .comment-info cite { display: inline; font-family: Arial;	font-size:14px; line-height:17px;	text-transform:capitalize;	margin: 0;	padding: 5px 6px 5px 0px;	font-style: normal;	font-weight: bold; margin-bottom:0; }
	.commentlist li .comment-info cite .comment-data {	font-size: 11px; font-weight: normal; float:right; display: inline;}
	.commentlist li .comment-text {	clear: both;	margin: 0;	padding: 0 20px 25px 64px; }
	.commentlist li .comment-text p {	margin:  5px 0 20px 0;	padding: 0;}
	.commentlist li .comment-text .reply a {	padding: 4px 8px;   border-radius:1px;	background-color: #f0f0f0;	font-size: 13px;	color: #444;}
	.commentlist li .comment-text .reply a:hover { background-color:#a0c14d; border-color:#48a648; color: #fff; }
	.commentlist li ul.children { margin:0; padding: 0; }
	.commentlist li ul.children li.depth-2, .commentlist li ul.children li.depth-3 { margin-left: 40px;	border-style: solid; border-color: #e1e6e8;	border-width: 1px 0 0 1px; }
	.commentlist li.thread-alt { background: #fdfdfd;   border-color: #E2E4E7; }
	.commentbox h3 { margin-top:14px;}
	.comment-form-comment textarea { width:98%; }
	.form-allowed-tags { font-size:11px; padding:6px; background:#f3f3f3; }