	
	/* #Full width Sections + Parallax Stylesheet
	================================================== */
	
	.blox { padding:45px 0 43px; clear:both; background:#f1f8fc; }
	.blox.nopad { padding:0; margin:0;}
	.blox.dark { background:#4C4C51;  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.23);}
	.blox.dark .nonetextshadow *{ text-shadow:none;}
	.blox.gray { background:#f0f0f0; }
	.blox.redbox { background:#ffc5cb;}
	.blox.greenbox { background:#dbebb9;}
	.blox.yellowbox { background:#f7c218;}
	.dark.redbox { background:#de3059;}
	.dark.bluebox { background:#128abc;}
	.blox hr { border-color: rgba(255, 255, 255, 0.2); }
	.dark.greenbox { background:#5aa300; }
	.dark.yellowbox { background:#fdb012;}
	.blox.dark * { color:#fff; }
	.blox.dark a { color:#EE9D20; }
	.blox.dark a.button { color:#fff; }
	.blox.dark a:lhover { color:#ff9900;}
	.blox.dark .magic-link a { color:#fff; }
	.blox.dark p { color:rgba(255, 255, 255, 0.9); }
	.blox.dark small { color:rgba(255, 255, 255, 0.8); }
	.bloxcirc { width:70px; height:70px; border-radius:35px; background:#e53f51 url(../images/ico-bulb1.png) no-repeat center center; position:relative; margin:-78px auto 21px; display:block; }
	.bloxcirc.portx { width:50px; height:50px; border-radius:25px;  margin:-58px auto 21px; background-color:#0093d0;  }
	.bloxcirc.bell-bg { background:#e53f51 url(../images/ico-bell1.png) no-repeat center center; }
	.bloxcirc.flash-bg { background:#e53f51 url(../images/ico-flash1.png) no-repeat center center; }
	.bloxcirc.eye-bg { background:#e53f51 url(../images/ico-eye1.png) no-repeat center center; }
	.bloxcirc.calendar-bg { background:#e53f51 url(../images/ico-calendar1.png) no-repeat center center; }
	.bloxcirc.video-bg { background:#e53f51 url(../images/ico-video1.png) no-repeat center center; }
	.bloxcirc.clock-bg { background:#e53f51 url(../images/ico-clock1.png) no-repeat center center; }
	.blox.promoblox { padding:46px 0 34px; margin:0; text-shadow:none;}
	.blox.promoblox a.button { background:transparent; padding:16px 26px; border:2px solid #fff; font-weight:400; float:right; margin-left:20px; vertical-align:middle; letter-spacing:3px; text-shadow:none; box-shadow:none; text-transform:uppercase; 	-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease; } 
	.blox.promoblox a.button:hover { background:#fff; color:#000;}
	
	.blox.dark.bot-blox { padding:14px 0; clear:both; background: #303740 url(../images/pattern-bg2.png); border-top:5px solid #242e38; margin:0; }
	.dark.bot-blox .magic-link { margin:0; float:right; }
	*+html .blox.dark.bot-blox { margin-bottom:-21px; }
	
	.blox h1.extr {font-size:63px; font-size:57px\9; font-weight:lighter; line-height:80px; letter-spacing:-4px;}
	.blox h1.extr span, .blox.dark h1.extr span { color:#fc4f4f; }
	.extrabgsec { padding:20px; background:rgba(255,255,255,0.6);}
	
	.blox.section-bg1 { background:url(../images/section-bg1.jpg) no-repeat center; }
	.blox.dark.section-bg2 { background:#8a93a4 url(../images/section-bg3.jpg) no-repeat center top; background-size:cover; background-attachment:fixed; min-height:520px; border-top:5px solid #e5e5e5;}
	.blox.section-bg3 { background:url(../images/section-bg2.jpg) no-repeat center; }
	.blox.section-bg4 { background:url(../images/contact-mpic1.jpg) no-repeat center; }
	.blox.section-bg1, .blox.section-bg4, .blox.section-bg5, .blox.section-bg6  { height:380px; margin-top:0; padding:0; border-top: 1px solid #d9d9d9;  border-bottom: 1px solid #e5e5e5; }
	.blox.section-bg5 { background:#384852 url(../images/pricing-tpbg1.jpg) no-repeat center; height:260px;  }
	.blox.section-bg6 { background:#384852 url(../images/pages-tpbg1.jpg) no-repeat center; height:260px; border-bottom:4px solid #e8e8e8;  }
	.blox.dark .mex-title { border-bottom: 4px solid rgba(255, 255, 255, 0.27);} 
	
	.parallax-sec, .parallax-sec2, .parallax-sec3 { background:#eee url(../images/section-bg-prlx1.jpg) center bottom fixed; background-repeat:no-repeat;   min-height: 400px;  height: 590px;  margin: 0 auto;  width: 100%;  max-width: 1920px;  position: relative; }
	.parallax-sec2 { background:#eee url(../images/section-bg-prlx2.jpg) center bottom fixed;}
	.parallax-sec3 { background:#eee url(../images/about-ext-img2.jpg) center bottom fixed;}
	.parallax-sec article { position: relative; }
	.parallax-sec .blox, .parallax-sec .blox.dark { background:none;}
	
	.homedark, .aboutdark { width:100%; background:#141319 url(../images/about-ext-img1.jpg) no-repeat top fixed; height:760px; border-bottom: 4px solid #f1f1f1; position:relative;}
	.aboutdark {background:#eee url(../images/about-ext-img1.jpg) center top fixed; height:645px; border:none;}

	.homedark #header { border-bottom: 3px solid rgba(255, 255, 0255, 0.12); }
	.homedark #search-form, .homedark #search-form2 { opacity:0.77;}
	.homedark .slogan { padding-top:5%;}
	.aboutdark .slogan { position:absolute; bottom:10%; right:7%; float:none;}
	.aboutdark.wpabtdrk { background:none; border:none;}
	.slogan h1 { font-size:67px; line-height:80px; font-weight:100; }
	.homedark .nonetextshadow *{ text-shadow:none;}
	.slogan  span, .blox.dark .slogan  span { color:#fc4f4f;}
	@media only screen and (max-width: 767px) { 
	.blox.dark, .blox.gray { height:auto;}
	}
	@media only screen and (max-width: 959px) { 
	.parallax-sec { height:auto; background-attachment:scroll; }
	.homedark { height:auto; background-size:cover; }
	.slogan h1 { font-size:41px; line-height:53px;}
	.aboutdark .slogan { position:relative; right:auto; margin:0 auto; padding:3%;}
	}