	/* #Portfolio Styles
	================================================== */
	
	.latest-works { overflow: hidden; width: 100%; background: #f0eeed; padding: 0 0 0; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
	.latest-works .portfolio-item { width: 24.97%; float: left; margin: 0; height: auto; padding: 0; box-sizing: border-box; }
	.icon-top-title i { display: inline-block; color: #e84a52; font-size: 64px; }
	.img-item { position: relative; overflow: hidden; margin-bottom: -6px; }
	.img-item img { width: 100%; height: auto; margin: 0; padding: 0; }
	.portfolio { display: block; padding: 0; }
	.portfolio h4, .recent-works-items h4, .shop-item h4, .side-list h5 { font-weight: 400; margin: 10px 0 7px; font-size: 18px; }
	.portfolio h4 a, .recent-works-items h4 a, .shop-item h4 a, .side-list h5 a { color: #494949; }
	.portfolio h4 a:hover, .recent-works-items h4 a:hover, .shop-item h4 a:hover, .side-list h5 a:hover { text-decoration: underline; }
	.portfolio p, .recent-works-items p { color: #909090; margin-bottom: 40px; padding-bottom: 20px; border-bottom: 4px solid #ededed; text-transform: uppercase; }
	.portfolio-item h5 { margin-top: 8px; }
	nav.primary { padding: 10px; }
	nav.primary .portfolioFilters a { border-radius: 20px; padding: 6px 12px; font-size: 14px; line-height: 1.2; color: #333; font-weight: normal; margin-top: 0 !important; text-align: center; width: auto; border: 2px solid #f0eeed; }
	nav.primary .portfolioFilters a:hover { border-color: #e84a52; }
	nav.primary .portfolioFilters a.selected, nav.primary ul li a:active { color: #e84a52; margin-top: 0 !important; }
	nav.primary .portfolioFilters .portf { color: #61A300; font-weight: bold; margin-right: 10px; padding-top: 5px; }
	nav.primary .portfolioFilters { text-align: center; clear: both; list-style: none outside none; }
	nav.primary .portfolioFilters { margin-right: 10px; }
	
	
	.zoomex, .zoomex2 { width: 100%; background: rgba(0,0,0,.35) url(../images/fancy-big-ico.png) no-repeat center; background-color: url(../images/fancy-big-ico.png)\9;  opacity: 0; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; color: transparent; display: block; left: 0; filter: alpha(opacity=0); position: absolute; top: 0; bottom: 5px; }
	.zoomex2 { background: rgba(0,0,0,.72); background: #000\9; }
	.zoomex2 * { filter: alpha(opacity=0)\9; }
	.zoomex2 i { color: inherit; font-size: 16px; padding: 10px; border: 2px solid #fff; border-radius: 50%; }
	.zoomex2 a.zoomlink1, .zoomex2 a.zoomlink2 { position: absolute; bottom: 14%; left: 50%; color: #fff; margin-left: -45px; }
	.zoomex2 a.zoomlink2 { margin-left: 12px; }
	.zoomex2 a:hover i { color: #e84a52; border-color: #e84a52; }
	.zoomex2 h6 { font-weight: bold; color: #fff; font-size: 22px; text-align: center; position: absolute; bottom: 44%; left: auto; width: 100%; }
	.zoomex2 h6 small { font-size: 14px; color: #e9e9e9; font-weight: 400; display: block; margin-top: 16px; }
	.img-item:hover .zoomex, .prettyPhoto:hover .zoomex, .img-item:hover .zoomex2, .img-item:hover .zoomex2 * { opacity: 1; filter: alpha(opacity=100); }
	.pin-box  .img-item, .pin-box  iframe { max-width:236px; margin:-12px; margin-bottom:0; }
	
	/* ISOTOPE */
	
	.isotope-item { z-index: 2; }
	.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
	.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; transition-duration: 0.8s; }
	.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; transition-property: height, width; }
	.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; transition-property: transform, opacity; }
	
	/*------------ portfolio item ------------*/
	
	.portfolio-item-dets { width:290px; float:right; border-bottom:2px solid #e5e5e5; margin-right:10px; margin-top:20px;}
	.portfolio-item-dets i { font-size:32px; color:#ddd;}
	.portfolio-item-dets i.liked, .portfolio-item-dets i:hover { color:#e53f51; cursor:pointer;}
	.portfolio-item-like-box { width:36px; text-align:center; float:left; padding-bottom:10px; color:#c3c3c3; padding-left:20px; margin-right:20px;}
	.portfolio-item-detail-box { width:193px; float:left; padding:7px 0 10px 20px; color:#c3c3c3; border-left:1px solid #e5e5e5; line-height:1; }
	.portfolio-item-detail-box a { color:#bbb;}
	.portfolio-item-detail-box a:hover { text-decoration:underline;}
	.portfolio-item-detail-box hr { margin:10px 0;}
	.portfolio-item i.icomoon-heart-7 { color:#ef7c88; margin-top:3px;}
	
	
	    @media only screen and (max-width: 959px) {
		
		.latest-works .portfolio-item { width:49.8%; }
		
		}
		
		@media only screen and (max-width: 479px) {
		
		.latest-works .portfolio-item { width:100%; }
		nav.primary .portfolioFilters a { border-radius:2px; margin-bottom:10px; margin-right:5px; padding:4px 8px; font-size:13px; font-weight:400; display:block; float:left;}
		
		}