
	@import url('main-menu.css'); /* Import Menu Stylesheet */
	@import url('base.css'); /* Import Basic Styles, Typography, Forms etc stylesheet */
	@import url('skeleton.css'); /* Import Skeleton (Responsive Grid System) Stylesheet */
	@import url('elements.css'); /* Import Elements stylesheet */
	@import url('blox.css'); /* Import Full width Sections + Parallax Stylesheet */
	@import url('blog.css'); /* Import Blog stylesheet */
	@import url('portfolio.css'); /* Import Portfolio Stylesheet */
	@import url('pages.css'); /* Import Pages stylesheet */
	@import url('icon-box.css'); /* Import Icon Boxes stylesheet */
	@import url('shop.css'); /* Import Shop stylesheet */
	@import url('prettyPhoto.css'); /* Import prettyPhoto Stylesheet */
	@import url('../layerslider/css/layerslider.css'); /* Import LayerSlider Stylesheet */
	@import url('slide1.css'); /* Import Permitflow Custom LayerSlider Stylesheet */
	@import url('flexslider.css'); /* Import Flex Slider Stylesheet */
	@import url('icomoon.css'); /* Import Vector Icons Stylesheet */
	@import url('custom.css'); /* Custom stylesheet */

	
	/*-----------------------------------------------------------------------------------*/
	
	
	@font-face {
	font-family: 'Roboto';
	src:url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');		
	font-weight: 700;
	font-style: normal;
	}
	
	@font-face {
	font-family: 'Roboto';
	src:url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');		
	font-weight: 500;
	font-style: normal;
	}
	
	@font-face {
	font-family: 'Roboto';
	src:url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');		
	font-weight: 400;
	font-style: normal;
	}
	
	@font-face {
	font-family: 'Roboto';
	src:url('../fonts/roboto/Roboto-light.ttf') format('truetype');		
	font-weight: 300;
	font-style: normal;
	}
	
	@font-face {
	font-family: 'Roboto';
	src:url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');		
	font-weight: 100;
	font-style: normal;
	}
	
	@font-face {
	font-family: 'Roboto Slab';
	src:url('../fonts/roboto_Slab/RobotoSlab-Regular.ttf') format('truetype');		
	font-weight: 400;
	font-style: normal;
	}
	
	@font-face {
	font-family: 'Roboto Slab';
	src:url('../fonts/roboto_Slab/RobotoSlab-Light.ttf') format('truetype');		
	font-weight: 300;
	font-style: normal;
	}
	
	/* sign in */

.signinpanel {
   margin: 20px auto 0 auto;
}

.signinpanel .logopanel {
   float: none;
   width: auto;
   padding: 0;
   background: none;
}

.signinpanel .signin-info ul {
   list-style: none;
   padding: 0;
   margin: 20px 0;
}

.signinpanel .signin-info a {
   color: #333;
}

.signinpanel .form-control {
   display: block;
   margin-top: 15px;
}

.signinpanel .uname {
   background: #fff url(../images/user.png) no-repeat 95% center; 
}

.signinpanel .pword {
   background: #fff url(../images/locked.png) no-repeat 95% center; 
}

.signinpanel .btn {
   margin-top: 15px;
}

.signinpanel form {
   background: #f9f9f9;
   border: 1px solid #F3F3F3;
   -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   padding: 30px;
}

.signinpanel form a {
   color: #666;
}

/* sign up additional */

.panel {
   margin: 20px auto 0 auto;
}

.panel .row {
   margin-left: -5px;
   margin-right: -5px;
}

.signuppanel .logopanel {
   float: none;
   width: auto;
   padding: 0;
   background: none;
}

.signuppanel .col-sm-6,
.signuppanel .col-sm-5,
.signuppanel .col-sm-3,
.signuppanel .col-sm-4 {
   padding-left: 5px;
   padding-right: 5px;
}

.signuppanel .signup-info {
   padding-right: 20px;
}

.panel{
   background: #f9f9f9;
   border: 1px solid #F3F3F3;
   -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   padding: 30px;
   margin:30px auto;
}


.form-group {
margin-bottom:10px;
}

.form-group select {
width:100%;
}
#main_body {
   margin-bottom:30px;
}

.feat-list {
   margin-top: 20px;
}

.feat-list .fa {
   font-size: 20px;
   border: 2px solid #636e7b;
   padding: 4px 5px;
   -moz-border-radius: 100px;
   -webkit-border-radius: 100px;
   border-radius: 100px;
   float: left;
}

.feat-list h4 {
   margin-left: 45px;
   padding-top: 3px;
}

.feat-list p {
   margin-left: 45px;
}

.signup-footer {
   border-top: 1px solid #ddd;
   margin-top: 30px;
   padding-top: 10px;
   font-size: 12px;
}

/* sign up */

.signuppanel {
   margin: 20px auto 0 auto;
}

.signuppanel .row {
   margin-left: -5px;
   margin-right: -5px;
}

.signuppanel .logopanel {
   float: none;
   width: auto;
   padding: 0;
   background: none;
}

.signuppanel .col-sm-6,
.signuppanel .col-sm-5,
.signuppanel .col-sm-3,
.signuppanel .col-sm-4 {
   padding-left: 5px;
   padding-right: 5px;
}

.signuppanel .signup-info {
   padding-right: 20px;
}

.signuppanel form {
   background: #f9f9f9;
   border: 1px solid #F3F3F3;
   -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   box-shadow: 0 3px 0 rgba(12,12,12,0.03);
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   padding: 30px;
}

.feat-list {
   margin-top: 20px;
}

.feat-list .fa {
   font-size: 20px;
   border: 2px solid #636e7b;
   padding: 4px 5px;
   -moz-border-radius: 100px;
   -webkit-border-radius: 100px;
   border-radius: 100px;
   float: left;
}

.feat-list h4 {
   margin-left: 45px;
   padding-top: 3px;
}

.feat-list p {
   margin-left: 45px;
}

.signup-footer {
   border-top: 1px solid #ddd;
   margin-top: 30px;
   padding-top: 10px;
   font-size: 12px;
}




/* CUSTOM STYLES */

.pb0 {
	padding-bottom: 0;
}

.pb5 {
	padding-bottom: 5px;
}

.pb10 {
	padding-bottom: 10px;
}

.pb15 {
   padding-bottom: 15px;
}

.pb20 {
	padding-bottom: 20px;
}

.pb30 {
	padding-bottom: 30px;
}

.pb40 {
   padding-bottom: 40px;
}

.pr5 {
	padding-right: 5px;
}

.pr10 {
	padding-right: 10px;
}

.pr20 {
	padding-right: 20px;
}

.pr30 {
	padding-right: 30px;
}

.pl5 {
	padding-left: 5px;
}

.pl10 {
	padding-left: 10px;
}

.pl20 {
	padding-left: 20px;
}

.pl30 {
	padding-left: 30px;
}


.pt0 {
	padding-top: 0;
}

.pt5 {
	padding-top: 5px;
}

.pt10 {
	padding-top: 10px;
}
.pt20 {
	padding-top: 10px;
}





.mb0 {
	margin-bottom: 0;
}

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
   margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb40 {
   margin-bottom: 40px;
}

.mr0 {
	margin-right: 0px;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr20 {
	margin-right: 20px;
}

.mr30 {
	margin-right: 30px;
}

.ml0 {
	margin-left: 0px;
}

.ml5 {
	margin-left: 5px;
}

.ml10 {
	margin-left: 10px;
}

.ml20 {
	margin-left: 20px;
}

.ml30 {
	margin-left: 30px;
}


.mt0 {
	margin-top: 0;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}

.nomargin {
	margin: 0;
}

.border-right-0 {
   border-right: 0;
}

.border-left-0 {
   border-left: 0;
}

.nopadding {
	padding: 0;
}

.padding-top-0 {
	padding-top: 0;
}

.padding5 {
	padding: 5px;
}

.padding10 {
	padding: 10px;
}


	
	.form-control, .rogue-input input, .rogue-input button, .rogue-input select, .rogue-input textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	
	.btn-block, .panel .btn {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
	}
	



	
	.flexslider li { margin-bottom:0px;}
	
	/* #Site Styles
	================================================== */
	
	/* WRAPPER */ 
	
	#wrap { margin: 0 auto; position: relative; padding: 0; background: #fff; }
	#boxed-wrap { margin: 0 auto; background: #fff; width: 1000px; -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.1); -moz-box-shadow: 0 0 2px rgba(0,0,0,0.1); box-shadow: 0 0 2px rgba(0,0,0,0.1); }
	#boxed-wrap { border: 1px solid #d6dbdc\9; border-bottom: none; }
	#full-width, #hero { width: 100%; padding: 0; clear: both; border-bottom: 1px solid #d6d6d6; }
	#full-width img, #hero img { margin: 0; max-width: 100%; margin-bottom: -6px; }
	#headline, #headline2 { border-bottom: 1px solid #F1F1F1; width: 100%; height: 30px; padding: 16px 0 20px; background: #fafafa; display: table; }
	#headline h3, #headline2 h3 { color: #424748; font-size: 25px; line-height:1.3; margin: 0 10px; position: relative; text-transform: capitalize; font-weight: 300; letter-spacing: 0; }
	.subtitle{font-size: 16px;  margin: 0 10px;}
	#headline h3 small, #headline2 small { font-size: 56%; color: rgba(255,255,255,0.8); font-weight: 300; margin-left: 10px; letter-spacing: -0.07em; text-transform: capitalize; }
	#headline h3 small { color: #808080; font-weight: 100; }
	#headline2 { padding: 25px 0 12px; background: #0093d0; }
	#headline2 h3 { color: #fff; border: 0 none; }
	#header h6, .top-bar h6, .top-inf h6  { font-size:16px; margin:20px; font-weight:400; color:#797979; display:inline-block;}
	#header h6 i, .top-bar h6 i, .top-inf h6 i { background:#f1f1f1; color:#545454; display:inline; margin:7px; padding:7px; border-radius:4px; vertical-align:middle;}
	.tbg1 { background: url(../images/tbg1.png) repeat-x; }
	
	
	.breadcrumb-box {
    background: none repeat scroll 0 0 #f9f9f9;
    border-bottom: 1px solid #F1F1F1;
    border-top: 1px solid #F1F1F1;
	}
	.breadcrumb {
    background: none repeat scroll 0 0 #f9f9f9;
    margin: 0;
    padding: 11px 0;
    
    color: #797979;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 21px;
    
	}

	.breadcrumb > li {
    display: inline-block;
    text-shadow: 0 1px 0 #FFFFFF;
	}
	.breadcrumb > li {
    line-height: 18px;
    text-shadow: none;
    margin-bottom:0;
	}
	
	.breadcrumb > .active {
    color: #000;
	}
	
	.breadcrumb > li > a {
     color: #797979;
     text-decoration: none;
     transition: opacity 0.2s linear 0s;
	}
	
	.breadcrumb > li > .divider {
    color: #7F7F7F;
    padding: 0 6px;
	}
	
		
	/* TOP-BAR  */ 
	.top-bar { background:#f9f9f9; height: 44px; padding: 4px 0; border-bottom:1px solid #f3f3f3; }  
	.top-links { float:right; color:#a9b2b4; font-size:11px; padding:4px 0 0 4px; }
	.top-links.rgtflot { float:right; padding-right:10px;}
	.top-links img, .container .top-links p { float:left; margin:4px 3px 0 0;}
	.container .top-links p { color:#d9d9d9; font-weight:bold; font-size:12px; line-height:1; margin:5px 9px 0 0;}
	.top-links a, .top-links span {  
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    }
	.top-links a:hover { color:#ff932a}
	.top-co-inf .top-links { float:right; margin-top:8px;}
	.top-co-inf .top-links p { color:#6d6e71; }

	
	/* HEADER  */ 
	#header {margin:0; background:#fff; }
	#header.transed { position: fixed; background: rgba(255,255,255,0.8); width: 100%; z-index: 9100; }
	.logo { height:100%; margin-left:-20px; }
	.logo img { max-width: 100%; height:auto; max-height:100%;  }
	
	#sticker { background: #fff\9; z-index: 90000; width: 100%; height: auto; position: relative; }
	header.sticky { margin: 0; position: fixed; top: 0; z-index: 100; }
	
	.is-sticky #header { margin-top:-50px; background:rgba(255,255,255,0.98); border-bottom: 4px solid #f0f0f0; }
	.is-sticky .logo {   height: 56px; margin-top: 30px;}
	.is-sticky .logo img { max-height:68px; width:auto; }
	
	
	#search-form { float:right; margin:61px 0 auto 16px; position:relative;}
	#search-form .search-text-box, #search-form2 .search-text-box2 { background-color: #f3f3f3;  background-image: url(../images/search-icon.png); background-position: 12px 50%; background-repeat: no-repeat; border: 0 none; border-radius: 18px; box-shadow: none; color: transparent; cursor: text; font-size: 13px; color:#444; height:18px; line-height: 18px; padding: 7px 5px 8px 30px; transition: all 0.3s ease-in-out 0s; width: 1px;}	
	#search-form2 { display:none; position:relative; }
	#search-form2 .search-text-box2 { width:220px; margin:auto; position:relative; }
	
	
	.is-sticky #header .container {
	display:none;
	}
	
	
	
	/* --------------------- */
	
	/* Side Nav */
	
	#side-content { float:right;}
	#side-nav { float:left; z-index:979;}
	#side-nav ul { padding:10px 20px; background:#fff;  border:3px solid #f3f3f3; list-style:none;}
	#side-nav ul li { border-bottom:1px solid #eaeaea; padding:0; margin:0;}
	#side-nav ul li:last-of-type { border-bottom:0 none;}
	#side-nav ul li ul { border:0 none; padding:0; padding-left:20px; margin:0; background:#fdfdfd; display:none;}
	#side-nav a { display:block; color:#575757; padding:14px 0; text-transform:capitalize; font-size:13px; font-weight:400; letter-spacing:0.2px;  }
	#side-nav a:after { float:right;  font-family: 'icomoon'; font-size:10px; color:#878787; content: "\e3b0"; speak: none; font-style: normal; font-weight: normal; text-transform: none; line-height: 1;	-webkit-font-smoothing: antialiased;}
	#side-nav a:hover, #side-nav a:hover:after { color:#ff9900;}
	#side-nav li.current a, #side-nav li.current a:after { color:#0093d0;}
	#side-nav ul li ul li a { padding:10px 0; font-size:12px;}
	#side-nav ul li:hover > ul { display:block;}
	
	
	/* Image Gallery */
	
	.image-gallery { display:block; margin:10px 0;}
	.image-gallery ul li { float:left; width:215px; height:215px; margin:1px; overflow:hidden;}
	.image-gallery ul li img { max-width:420px; width:auto; height:215px; border-radius:1px; text-align:center}
	.image-gallery .zoomex { bottom:0;}
	
	
	
	/* --------------------- */
	
	
	/* FOOTER */
	
	
	#footer { width: 100%; }
	#footer.litex { background: #fafafa; }
	.footer-in { margin: 0 auto; padding-bottom: 50px; color: #ccc; position: relative; }
	.footer-in .columns { margin-top: 20px; }
	.footer-in h5 { color: #ddd; display: block; border-bottom: 1px solid #212121; padding-bottom: 6px; margin: 0; margin: 35px 0; -webkit-box-shadow: 0 1px #373737; -moz-box-shadow: 0 1px #373737; box-shadow: 0 1px #373737; position: relative; }
	#footer h5 span { position: absolute; right: 0; text-align: right; }
	#footer h5 span a { color: #787878; font-size: 10px; font-weight: 400; }
	.lts-news { height: 64px; overflow: hidden; margin-bottom: 15px; }
	.lts-news .img-hover { float:left; margin:0 10px 0 0;}
	.lts-news img { height: 64px; }
	.lts-news h5 { font-size: 16px; font-weight: 500; border: none; margin: 0; padding: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; white-space:nowrap;}
	.lts-news a { color: #ddd; }
	.footer-in .lts-news p { font-size: 11px; line-height: 17px; color: #9c9b9b; margin-bottom:5px; letter-spacing:0; }
	.lts-news .img-hover:before { -webkit-box-shadow: inset 0 0 0 3px #fff; -moz-box-shadow: inset 0 0 0 3px #fff; box-shadow: inset 0 0 0 3px #fff; opacity: .5; }
	.lts-news:hover .img-hover:before { opacity: 1; -webkit-box-shadow: inset 0 0 0 3px #e84a52; -moz-box-shadow: inset 0 0 0 3px #e84a52; box-shadow: inset 0 0 0 3px #e84a52; }
	.lts-news:hover h5 a { color: #e84a52; }
	.footer-in hr { border-color: #373737; }
	.footer-in .copyright-txt { font-size: 12px; }
	.footer-in p { line-height: 19px; color: #707679; }
	.contact2 div { line-height: 21px; }
	.footer-in a { text-decoration: none; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease; }
	.footer-sbc { position: relative; text-align: center; margin: 0 auto; }
	.footer-sbc input[type="text"], .footer-sbc input[type="submit"] { float: left; margin: 4px 7px; }
	/* Social Icons */
	.social-icons a { border: 0; float: left; margin: 1px 7px 0 12px; opacity: 0.5; text-decoration: none; -webkit-transition: opacity 0.5s ease; -moz-transition: opacity 0.5s ease; -ms-transition: opacity 0.5s ease; -o-transition: opacity 0.5s ease; transition: opacity 0.5s ease; }
	.social-icons a:hover { opacity: 1; }
	.social-icons.members { clear: both; text-align: center; margin-bottom: 10px; }
	.social-icons.members a { text-align: center; float: none; }
	.footer-in a img { float: left; }
	.contact-inf span { display: block; color: #9b9b9b; font-family: Arial; font-size: 14px; }
	.contact-inf i { margin-right: 5px; color: #474747; }
	.contact-inf form { margin-top: 20px; }
	.footer-in .contact-inf input, .footer-in .contact-inf textarea { display: block; min-width: 97%; margin: 10px 0; background: #2b2928; color: #ccc; border: none; font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 6px 0px 6px 12px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 0 3px 1px #222, 1px 1px #424242; -moz-box-shadow: inset 0 0 3px 1px #222, 1px 1px #424242; box-shadow: inset 0 0 3px 1px #222, 1px 1px #424242; }
	.footer-in .contact-inf button { padding: 10px 20px; font-size: 12px; font-weight: 400; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; background: #373737; background: -moz-linear-gradient(top, #373737, #252525); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373737), color-stop(100%, #252525)); background: -webkit-linear-gradient(top, #373737, #252525); background: -ms-linear-gradient(top, #373737, #252525); background: -o-linear-gradient(top, #373737, #252525); background: linear-gradient(top, #373737, #252525); border: none; float: right; }
	.footer-in a:hover { color: #85b940; }
	#footer.litex .footer-in a { color: #0093d0; }
	.footer-in a.terms { color: #578f1a; }
	.footer-in .lts-tweets { padding: 12px; padding-top: 34px; text-align: center; position: relative; }
	.footer-in .lts-tweets i { font-size: 80px; color: #333; position: absolute; top: 2px; left: 40%; z-index: 9; }
	.footer-in .lts-tweets h3 { z-index: 12; position: relative; }
	.footer-in .lts-tweets h5 { color: #82878a; padding: 0 10px; font-size: 16px; font-weight: 400; font-family: "Roboto Slab"; }
	.footer-in .tagcloud a { padding: 7px 14px; background: #363636; margin: 3px; display: inline-block; color: #808080; border:none; }
	.footer-in .tagcloud a:hover { color: #fff; background: #e84a52; }
	.partner-website h5 { margin: 20px 0; }
	.partner-website a { display: block; color: #808080; font-family: Arial, Helvetica, sans-serif; font-size: 12px; -webkit-transition: all .08s ease; -moz-transition: all .08s ease; -ms-transition: all .08s ease; -o-transition: all .08s ease; transition: all .08s ease; }
	.partner-website a:hover { color: #fff; }
	.partner-website a i { margin: 0 5px; -webkit-transition: all .18s ease; -moz-transition: all .18s ease; -ms-transition: all .18s ease; -o-transition: all .18s ease; transition: all .18s ease; }
	.partner-website a:hover i { margin-left: 10px; }
	.footbot { margin: 0 auto; position: relative; background:#2B2C30; padding: 2px 0 6px; text-align: right; border-top-left-radius: 1px; }
	#footer.litex .footbot, #footer.litex .footer-in h4, #footer.litex .footer-in hr { border-color: #e0e0e0; color: #5b5b5b; }
	.footbot img { position: relative; margin: 6px 40px 0 0; opacity: 0.93; }
	.footer-navi { float: left; line-height: 38px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #9B9B9B;}
	.footer-navi ul { margin-left: 40px; }
	.footer-navi a { color: #a9b2b4; margin: 0 4px; }
	.footer-navi a:hover { color: #ccc; text-decoration: underline; }
	.socailfollow { float: right; }
	.socailfollow a { height: 18px; padding: 10px; float: left; text-decoration: none; display: block; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease; }
	.socailfollow a:first-of-type { margin-left: 0; }
	.footer-in .socailfollow a:hover { text-decoration: none; }
	.socailfollow a.facebook:hover { background: #3b5996; }
	.top-bar .socailfollow a.facebook:hover i, .our-team .socailfollow a.facebook:hover i { color: #3b5996; }
	.socailfollow a.twitter:hover { background: #00acee; }
	.top-bar .socailfollow a.twitter:hover i, .our-team .socailfollow a.twitter:hover i { color: #00acee; }
	.socailfollow a.vimeo:hover { background: #0dadd6; }
	.top-bar .socailfollow a.vimeo:hover i, .our-team .socailfollow a.vimeo:hover i { color: #0dadd6; }
	.socailfollow a.dribble:hover { background: #d53e68; }
	.top-bar .socailfollow a.dribble:hover i, .our-team .socailfollow a.dribble:hover i { color: #d53e68; }
	.socailfollow a.youtube:hover { background: #cb322c; }
	.top-bar .socailfollow a.youtube:hover i, .our-team .socailfollow a.youtube:hover i { color: #cb322c; }
	.socailfollow a.pinterest:hover { background: #cb2027; }
	.top-bar .socailfollow a.pinterest:hover i, .our-team .socailfollow a.pinterest:hover i { color: #cb2027; }
	.socailfollow a.google:hover { background: #c3391c; }
	.top-bar .socailfollow a.google:hover i, .our-team .socailfollow a.google:hover i { color: #c3391c; }
	.socailfollow a.linkedin:hover { background: #0073b2; }
	.top-bar .socailfollow a.linkedin:hover i, .our-team .socailfollow a.linkedin:hover i { color: #0073b2; }
	.socailfollow a.rss:hover { background: #f29a1d; }
	.top-bar .socailfollow a.rss:hover i, .our-team .socailfollow a.rss:hover i { color: #f29a1d; }
	.socailfollow img { opacity: 0.79; }
	.socailfollow i { font-size: 18px; color: #fff; opacity: 0.95; }
	#footer.litex .socailfollow i { color: #343434; }
	#footer.litex .socailfollow a:hover i { color: #fff; }
	.top-bar .socailfollow { float: left; margin-right: 10px; }
	.top-bar .socailfollow.lftflot { float: left; }
	.top-bar .socailfollow img { opacity: 0.97; }
	.top-bar .socailfollow a, .our-team .socailfollow a { padding: 4px; margin: 1px 4px; background: #fff; }
	.top-bar .socailfollow i, .our-team .socailfollow i { color: #979797; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -ms-transition: all 0.125s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; }
	.top-bar .socailfollow a:hover, .our-team .socailfollow a:hover { background: none; }	
	
	
	
	/* #Misc
	================================================== */
	
	/* EXTRAS */
	
	.brdr-r1, .brdr-r2 { border-right: 1px solid #e5e5e5; padding-right: 19px; }
	.brdr-l1, .brdr-l2 { border-left: 1px solid #e5e5e5; padding-left: 19px; }
	.brdr-r2 { padding-right: 27px; }
	.brdr-l2 { padding-left: 27px; }
	.pad-r27 { padding-right: 27px; }
	.pad-l27 { padding-left: 27px; }
	.alignright { text-align: right; }
	img.alignright { float: right; }
	.alignleft { text-align: left; }
	img.alignleft { float: left; }
	.aligncenter { text-align: center; }
	.wp-caption { display: block; color: #444; }
	.wp-caption-text { font-size: 15px; }
	.sticky { color: #555; }
	.gallery-caption { display: inline; }
	.bypostauthor { font-size: 13px; }
	.moonicons-box1 { font-size: 16px; display: inline-block; width: 15em; padding: .25em .5em; background: #fff; margin: .5em 1em .5em 0; border: 1px solid #e8e8e8; }
	.alignright { text-align: right; }
	img.alignright { float: right; }
	.alignleft { text-align: left; }
	img.alignleft { float: left; }
	.aligncenter { text-align: center; }
	.wp-caption { display: block; color: #444; }
	.wp-caption-text { font-size: 15px; }
	.sticky { color: #555; }
	.gallery-caption { display: inline; }
	.bypostauthor { font-size: 13px; }
	/* Scroll to top */
	#scroll-top a { width: 32px; height: 32px; padding: 6px 8px 9px; border-radius: 4px; background: #2B2C30; position: fixed; bottom: 48px; right: 32px; display: none; opacity: 0.89; filter: alpha(opacity=89); z-index: 499841; }
	#scroll-top a i { font-size: 16px; color: #fff; }
	#scroll-top a:hover { background-color: #EE9D20; cursor: pointer; }
	
	h1.pnf404 { font-size: 176px; line-height: 1.1; font-weight:900;}
	h2.pnf404 { font-size: 42px; line-height: 1.2; font-weight:700; }
	input.txbx404 { float:left; margin-top:2px; margin-right:4px; padding:7px 4px; min-height:inherit; border-radius:3px; }
	input.btn404 { float:left; margin:1px; padding:8px 12px 9px; }
	
	.v-shadow-l { background:url(../images/v-shadow-left.png) no-repeat right center; }
	.v-shadow-r { background:url(../images/v-shadow-right.png) no-repeat left center; }
	.v-shadow-r, .v-shadow-l {  min-height:320px; }
	.pad-r10 { padding-right:10px; }
	.pad-r20 { padding-right:20px; }
	.pad-r30 { padding-right:30px; }
	.pad-r40 { padding-right:40px; }
	.pad-l10 { padding-left:10px; }
	.pad-l20 { padding-left:20px; }
	.pad-l30 { padding-left:30px; }
	.pad-l40 { padding-left:40px; }
	
	/* #Column Shortcodes
	----------- */
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth { margin-right: 4%; float: left; margin-bottom:20px; }
	.one_half { 	width: 48%; }
	.one_third { width: 30.6666%; }
	.two_third { width: 65.3332%; }
	.one_fourth { width: 22%; }
	.three_fourth { width: 74%; }
	.one_fifth { width: 16.8%; }
	.two_fifth  { width: 37.6%; }
	.column-last { margin-right: 0 !important; clear: right; }
	
	
	.easyPieChart { position: relative; text-align: center; }
	.easyPieChart canvas { position: absolute; top: 0; left: 0; }
	.pie { text-align:center; font-size:49px; position:relative; margin:0 auto 20px; }
	.pie p { font-size:16px; color:#888; font-weight:400; position:absolute; bottom:-52px; width:100%; padding-top:10px; border-top:2px solid #f9f9f9;}
	.container .pie p { margin-bottom:0;}
	
	
	
	/* #Media Queries
	================================================== */
	
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	
	.img-box { width: 256px; height: 188px; }
	.last-project .img-box { background: #EA3C3C; }
	.last-project .img-box:nth-child(even) { background: #F66060; }
	.ab-box { height: 235px; }
	.author-detail { width: 218px; }
	.comment-contents { width: 343px; }
	.child-comment .comment-contents { width: 263px; }
	.contact input { width: 330px; float: none; }
	.contact textarea { width: 486px; }
	.row.magic, .s-qoute-man { padding: 0; margin-bottom: 10px; }
	a.get { margin-bottom: 14px; }
	.pad-r10, .pad-r20, .pad-r30, .pad-r40 { padding-right: 5px; }
	.pad-l10, .pad-l20, .pad-l30, .pad-l40 { padding-left: 5px; }
	#main-content-pin .container { width: auto; }
	
	}
	
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	#boxed-wrap { width: 828px; }
	.social-icons a { margin: 1px 4px 0 4px; }
	.row.magic { padding-left: 20px; margin-bottom: 10px; }
	#tline-content { width: 800px; }
	.tline-box { width: 335px; }
	/*#nav a span, #nav a:after { font-size:9px;  }*/
	
	.blog-date-sec { width: 42px; height: 42px; }
	.help-box { width: 50%; }
	
	}
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
	.sidebar, .rgt-cntt, .sidebar.leftside { padding-right:0; background:none; padding-top:40px; margin-top:40px; border-top:5px solid #e5e5e5;}
	.rgt-cntt, .sidebar.leftside { padding-top:0px; margin-top:0px; border-top:0 none;}
	.contact-form .txbx { width:224px;}
	.pricing-table .plans-f-list.respo { display:inline; visibility:visible;}
	#headline { height:auto; border-bottom:3px solid #f3f3f3; padding:14px 0; }
	#headline h3 { border-top-color:#f6f6f6; font-size:37px; text-align:center;}
	#headline h3 small { display:block; margin-top:14px; margin-bottom:0; font-size:16px; letter-spacing:0; font-weight:400; }
	.servobx, .servobx div, .servobx img, ul#main-ibox li, ul#main-ibox li.active9  { width:100%; float:none;}
	#search-form { display:none; }
	#header .alignright, top-inf.alignright { text-align:center;}
	#search-form2 { display:block; }
	#side-content { padding-bottom:30px; border-bottom:5px solid #f3f3f3; margin-bottom:40px;}
	
	.top-bar { height:65px; padding:5px 0 6px; background:url(../images/topsobg1.png) repeat-x center center;}
	.top-bar .socailfollow, .top-links, .top-links.rgtflot, .top-bar .socailfollow.lftflot { float:none; text-align:center; clear:both;}
	.top-bar .socailfollow, .top-bar .socailfollow.lftflot  {  padding-top:8px;}
	.top-bar .socailfollow a, .top-bar .socailfollow.lftflot a, .top-links p, .top-links img { float:none; display:inline; padding-top:10px; background:none;}
	.top-links, .top-links.rgtflot { margin:0 0 8px 0; padding-top:4px; }
	.top-links.rgtflot { margin-top:12px; margin-bottom:6px;}
	
	.container hr { margin-left:0; margin-right:0;}
	.blog-date-sec { border:0 none; margin:0; text-align:left; border-bottom:1px solid #e5e5e5; background:#fdfdfd;}
	.blog-post { border-bottom-width:3px;}
	
	.nav-search { float: none; margin: 0; }
	.img-box { width: 420px; height: 308px; }
	.comment-contents { width: 328px; margin-right: 0; }
	.child-comment .comment-contents { width: 248px; }
	.contact textarea { width: 398px; }
	
	.author-detail { margin: 20px 0; }
	.blog-date-sec { width: auto; display:block; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border: none; border-bottom: 2px solid #e3e3e3; margin-bottom: 5px; }
	.blog-date-sec span, .blog-date-sec h3 { display: inline; margin: 0 10px; line-height: 50px; }
	.blog-date-sec span { font-size: 20px; font-weight: 300; }
	.blog-date-sec h3 { font-size: 32px;}
	
	.contact-form .txbx { width: 224px; }
	.pricing-table .plans-f-list.respo { display: inline; visibility: visible; }
	#headline h3 { border-top-color: #f6f6f6; }
	.image-gallery ul li, .image-gallery ul li img { display:block; width:auto; max-width:100%; height:auto; float:none;}
	

	input[type="text"].header-saerch, input[type="text"].header-saerch:focus { width: 261px; margin-top: 10px; }
	.logo { text-align: center; }
	.pin-box { width: 256px; }
	
	.tline-box .blog-date-sp { width: 80%; }
	.tline-box .blog-com-sp { width: 0; display: none; }
	.tabs-left > .nav-tabs, .tabs-left > .nav-tabs > li > a, .nav-tabs > li, .nav-tabs > li.active, .tabs-left > .nav-tabs > li.active > a, .tabs-left > .nav-tabs .active > a:hover { width:100%; display:block; padding-left:0; padding-right:0; }
	.tabs-left > .nav-tabs > li > a { border-right:0 none;}
	.tabs-left > .tab-content { border:0 none;}
	.tab-content .columns, .tab-content .column { margin:0 10px; max-width:90%; }

	.date-sp-wrap { margin: 0; float: right; margin-bottom: 7px; }
	.blog-line .blog-date-sec { height: auto; }
	.v-shadow-r, .v-shadow-l { min-height: inherit; background: none; }
	.pad-r10, .pad-r20, .pad-r30, .pad-r40, .pad-l10, .pad-l20, .pad-l30, .pad-l40 { padding: 0; }
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth { width: 100%; float: none; margin-right: 0; }
	.latest-f-blog, .qot-week { margin:0;}
	.callout { margin:10px 0px 20px; }
	.brdr-l1, brdr-r1 { padding:0; border:0 none; }
	.brdr-l1 { margin-top:30px;}
	.tab-content p, .tab-content li { font-size: 12px; }
	.help-box { width: 100%; }
	.ab-box { height: auto; padding-bottom: 25px; }
	input[type="text"].header-saerch, input[type="text"].header-saerch:focus { float: none; display: inline; position: relative; z-index: 10000; }
	.jcarousel-next, .jcarousel-prev { padding:12px; }
	.jcarousel-prev { right:38px;}
	.jcarousel-next:after, .jcarousel-prev:after { top:13px; right:13px;}
	.our-clients-wrap .jcarousel-next, .our-clients-wrap .jcarousel-prev { padding:10px;}
	
	
	.is-sticky, .is-sticky #header { position:relative; height:auto;}
	.is-sticky #header { margin-top:0;}
	.is-sticky .logo { height:auto; margin-top:0; }
	.is-sticky .logo img { max-height:auto; height:auto; }

	}
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.help-block { height: auto; }
	#boxed-wrap { width: 460px; }
	.page-subtitle { left: 0; padding: 10px 0 0 20px; bottom: 0; border-bottom: 1px solid #e8edee; margin-bottom: 20px; height: auto; width: auto; clear: both; background: #fdfdfd; border-radius: 0; }
	.contact-form .txbx { width: 338px; }
	.pricing-table .plans-f-list.respo { display: inline; visibility: visible; }
	.jcarousel-item, .last-project .portfolio-item { max-width: 210px; height: 157px; float: left; }
	.pin-box { width: 166px; width: 164px\9; }
	#tline-content { width: 460px; }
	.tline-box { width: 165px; }
	}
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
	.nav-wrap2.mn4 #nav a { padding: 15px 4px; }
	#menu a { padding: 15px 4px; }
	.img-box { width: 300px; height: 220px; }
	
	.author-detail { width: 254px; }
	.author-arrow { width: 11px; height: 6px; background: url('../images/testimonial-arrow-top.png') no-repeat; left: 25px; top: -6px; }
	.contact input { width: 288px; margin-right: 0; }
	.contact textarea { width: 278px; }
	#boxed-wrap { width: 340px; }
	.footbot { min-height: 38px; height: auto; }
	
	.page-subtitle { left: 0; padding: 10px 0 0 20px; bottom: 0; border-bottom: 1px solid #e8edee; margin-bottom: 20px; height: auto; width: auto; clear: both; background: #fdfdfd; border-radius: 0; }
	.pricing-table .plans-f-list.respo { display: inline; visibility: visible; }
	.pricing-table ul { width: 136px; }
	.pricing-table ul li { width: 124px; padding: 5px; }
	.pricing-table ul li.plan-header, .pricing-table ul li .plan-title, .pricing-table ul li .plan-price { max-width: 136px; }
	.pricing-table ul li.plan-footer { max-width: 114px; }
	.portfolio-item { margin-bottom: 14px; }
	.commentin { width: 92%; }
	
	#tline-content { width: 300px; }
	.tline-box { width: 250px; }
	.tline-row-l, .tline-row-r { display: none }
	.tline-box.rgtline { float: left; left: 0; }
	}
	
	@media only screen and (min-width: 1200px) {	
	
	 #boxed-wrap { width:1180px;}
	 .white-space { height:110px;}
	  h4.subtitle { margin:39px 0 21px 0; }
	 #main-content-pin .container { padding:0 40px; }
	 .sidebar.leftside { background-position: 295px; padding-right:70px; }
	 .blog-date-sec h3 { font-size:36px;}
	
	 } 
	
	
	@media screen and (min-width: 767px) {
	/* ensure #nav is visible on desktop version */
	#nav {	display: block !important;	}
	.ls-layer h1, .ls-layer h3 { left:10px;}
	
	}	
	
	/* ---------------------
/* Localized */
