
.ui-state-highlight{
	border: 1px dashed #FF9F80 !important;
	height: 30px;
}
.ui-widget-overlay{
	opacity: 0.7;
	background: none;
	background-color: #D1F2A5;
}

.ui-autocomplete{
	font-family: 'Trebuchet MS', Arial, Helvetica;
	font-size: 100%;

	max-height: 200px;
	overflow-y: auto;

	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}