.custom-combobox {
    position: relative;
    display: inline-block;

    /*overflow: hidden;*/
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 10px;
    padding: 10;
  }
  .custom-combobox-input {
    position: relative;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 100%;
}